[2016-11-29 04:31] tjgrathwell commented on #512
External events do appear as past events.

![screen shot 2016-11-28 at 8 25 34 pm](https://cloud.githubusercontent.com/assets/1041691/20696616/e0211502-b5a8-11e6-855f-64d556f2e3e2.png)

![screen shot 2016-11-28 at 8 30 50 pm](https://cloud.githubusercontent.com/assets/1041691/20696690/94850ee0-b5a9-11e6-95e9-c898aea54279.png)

![screen shot 2016-11-28 at 8 25 28 pm](https://cloud.githubusercontent

[2016-12-05 00:44] ultrasaurus commented on #512
I did delete the Pittsburgh External Event.  I didn't realize it was a specific discrepancy.. I was trying to be thorough in illustrating the different views.  I mistakenly though that the external events were not designed to show up as past events and I thought I was requesting a change.

Looking at it again, I see that in the regular listing, the external events do show up.  In trying to reprodu

[2016-12-05 00:46] ultrasaurus commented on #512
steps to reproduce:
1. go to last page and notice Aloha on Rails workshop:
![image](https://cloud.githubusercontent.com/assets/41906/20870684/1ca82bd6-ba41-11e6-98a6-073773e40dae.png)
2. Type "Hawaii" in the search box:
![image](https://cloud.githubusercontent.com/assets/41906/20870689/35562976-ba41-11e6-8a87-924c4fa8d94d.png)

[2016-12-05 00:47] ultrasaurus commented on #512
Eeek.  HI != Hawaii

Never mind

[2016-12-05 00:47] #512 closed

[2016-12-11 16:58] ultrasaurus commented on #510
Sounds great!   The only other people who can add org leaders are me & Kins (from a role perspective Bridge Foundry Program Director and Board Chair), but we don't need that structure in Bridge Troll, you could just make us admins.  I might be already, not sure.  For now, Kins is super busy, so I could add the people who are missing.

I think the nuance about event approval authority being separat

[2016-12-11 17:14] ultrasaurus commented on #479
@lilliealbert I've been looking into MailChimp, working with @laynemcnish on the idea of Bridge Foundry making a Newsletter which could have custom content for each Bridge.  I'm starting with the draft template that a RailsBridge volunteer created and think I know how to set up the account to make this work.

I'm still confused how to avoid a one-time email blast to everyone... I think MailChimp n

[2016-12-12 01:44] lilliealbert commented on #479
@ultrasaurus I was planning on the one-time blast coming as a transactional email from Bridge Troll itself. Since we didn't ever tell people we'd have a newsletter, I don't think they'd be considered opted-in to getting one, so even if I did an export into a CSV of all the email addresses, I think we'd get marked as spam a lot if we just sent an opt-in email from Mailchimp.

So the idea would be t

[2016-12-12 01:46] lilliealbert commented on #479
Also, most of the work of this feature is done already, although it was done focused on creating Bridge specific mailing lists, so we need to expand it a bit to allow for a general Bridge Foundry mailing list, too.

(We still need to merge in / review https://github.com/railsbridge/bridge_troll/pull/484 for this feature.)

[2016-12-19 01:45] #359 closed

[2016-12-21 04:08] lilliealbert commented on #390
Closed with 435cc5191420ad42d40a71f9c4ec008cdd41d11b

[2016-12-21 04:08] #390 closed

[2016-12-22 03:54] ultrasaurus opened #515 "Answering “Is this workshop for you?” more clearly"
Summary: Most workshop participants find that the experience is high value and surpasses their expectations; however,  occasionally we get feedback that students are disappointed. In particular, we’ve heard specific recurring themes:

* We should not expect someone to become a software developer in 1 day!  (We don’t, but somehow we give this impression to some people)
* We should have very narrow,

[2016-12-22 12:24] SteveBarnett commented on #515
The "You want to learn to code", "You want to level up", "You want to connect" three-up comes from our main tagline ("Learn to code or level up with RailsBridge!") and the general vibes of RailsBridge workshops.

I like the idea of expanding on the tagline a bit, and of emphasising that the workshops are a just a "Get started" kit, with the help of a bunch of friendly people. :)

[2016-12-22 14:08] kplawver commented on #515
* Is this a good idea: :clap: Yes! :clap:
* Would it be helpful: 👍  👍  👍

In the ~16 workshops we've done, we've only had one person walk out because of unmet expectations (and to this day, even after talking to them about where they got those expectations from, I still don't understand it) - but I think this is a great way to level-set people before they sign up.

I think the "You want to connect

[2016-12-22 17:24] kariabancroft commented on #515
I really like these three sections - I definitely think that this is helpful!

In the "You want to level up" section I can still see this being misinterpreted as evidence of "you will have a career in tech after this". I wonder if we can use language like "explore" and "start to learn" highlighting the more introductory nature of a one day workshop?

[2016-12-23 06:43] lilliealbert commented on #515
I think the content here could be super helpful to some people!

We might want to have a separate issue to discuss how it would fit into Bridge Troll specifically; I'm having a hard time picturing where specifically it would live / where the link would be, and whether or not it'd be configurable on an organization / chapter / event basis, or if you're going for something that will ring true across

[2016-12-24 18:55] ultrasaurus commented on #381
oops -- I didn't realize I had anything in progress and recently deleted and re-create my fork.  Sorry about that!

[2016-12-25 15:35] baijum opened #516 "New chapter: GoBridge Bengaluru"
I am looking forward to organizing Go workshops in Bengaluru (new name of Bangalore), India.

Please add this chapter.

[2016-12-25 16:06] dlsniper commented on #516
This will be handled by me and the rest of the GoBridge team. It can be close here as it's not the correct place for it. Happy Holidays!

[2016-12-25 16:47] #516 closed

[2016-12-26 20:16] ultrasaurus commented on #515
moved content to Google Doc and updated description -- thx @lilliealbert

In drafting the content, we were thinking about something that would be true across Bridges and Chapters.

[2016-12-27 16:26] ultrasaurus commented on #479
Proposed alternate implementation approach here:
https://github.com/railsbridge/bridge_troll/pull/517

cc @cjo2118

[2016-12-27 18:49] jmkoni commented on #381
https://github.com/railsbridge/bridge_troll/pull/518
Not 100% there, but I think it's pretty close.

[2017-01-02 23:45] jmkoni commented on #381
https://github.com/railsbridge/bridge_troll/pull/519

New PR

[2017-01-08 08:01] tjgrathwell commented on #381
Closed by #519

[2017-01-08 08:01] #381 closed

[2017-01-08 22:39] robinske opened #521 "Add ScalaBridge chapters"
Hello, our first ScalaBridge workshop will be in San Francisco on February 11th. We're also planning events in Seattle (February 18th) and Chicago (April 19th)

Could we add the following chapters to the list?

* ScalaBridge San Francisco
* ScalaBridge Seattle
* ScalaBridge Chicago

Thank you!

[2017-01-09 04:36] tjgrathwell commented on #521
Added!

[2017-01-09 04:36] #521 closed

[2017-01-15 22:37] lilliealbert commented on #447
This feature didn't quite work out, and no one seems clear on how RSS becomes a calendar feed, so I'm going to close this and instead we'll remove the feature. If someone someday wants to figure out how to make a region-specific calendar feed, please open a PR 👯

[2017-01-15 22:37] #447 closed

[2017-01-15 22:38] lilliealbert commented on #453
Yeah, let's definitely promote the Discourse forum more than making Google groups.

[2017-01-15 22:38] #453 closed

[2017-01-15 22:40] lilliealbert commented on #392
Let's make a new issue for this the next time it comes up.

[2017-01-15 22:40] #392 closed

[2017-01-15 22:42] lilliealbert commented on #294
It seems like the main pain point here was addressed, so I'm going to close this issue for now. If there are further feature requests on this line, please open new issues! Thanks.

[2017-01-15 22:42] #294 closed

[2017-01-15 22:43] lilliealbert commented on #319
I think @tjgrathwell's suggestion for updating the event is pretty sane. I'm going to close this for now, but feel free to open another issue if this is an ongoing problem. Thanks!

[2017-01-15 22:43] #319 closed

[2017-01-15 22:49] lilliealbert commented on #346
Caching is hard!

[2017-01-15 22:49] #346 closed

[2017-01-15 22:52] lilliealbert commented on #356
I'm going to close this out since it's been a while. It seem like a non-technical solution (asking co-organizers for their dietary restrictions) is the way to go for now.

[2017-01-15 22:52] #356 closed

[2017-01-15 22:56] lilliealbert commented on #357
The section organizer currently includes all the people who have RSVP'd to any session for the workshop, so since that person is still RSVP'd to a session, they are still going to show up.

We *could* change this, but it seems like it'd be complicated, so let's punt for now.

[2017-01-15 22:56] #357 closed

[2017-01-15 23:20] lilliealbert commented on #442
@kariabancroft Do you still plan on working on this? If not, could you let us know?

[2017-01-16 01:43] #382 closed

[2017-01-16 01:44] lilliealbert opened #522 "Validate that all attendee RSVPs have at least one session"
It's okay for organizer RSVPs not to have one, but for students and volunteers they should've cancelled their session instead of unchecking all boxes.

Adding the validation is pretty simple, the problem is making it not invalidate the ~400+ extant records that have no rsvp_sessions. Options:
- Only make the validation apply if the event is `upcoming?`
- Delete any old rsvps that don't have associ

[2017-01-16 01:46] lilliealbert commented on #383
Closing for now because this story is old and vague; if this feature comes up again in the context of a new design, let's totally do it.

[2017-01-16 01:46] #383 closed

[2017-01-16 01:51] lilliealbert commented on #327
Closing in favor of actually-designed design story coming down the pipe.

[2017-01-16 01:51] #327 closed

[2017-01-16 01:55] lilliealbert commented on #445
This is an extremely nice-to-have, so closing.

[2017-01-16 01:55] #445 closed

[2017-01-16 01:58] lilliealbert commented on #412
This doesn't currently fit into our plans for the navigation and heierarchy of the site, so I'm changing the request to be for an API, so each Bridge can list their courses on their own websites as they want.

The goal for the Bridge Troll home page is to highlight upcoming events for people who might RSVP, not to show them potential/historical courses that have happened.

[2017-01-16 02:02] lilliealbert commented on #385
The way we use courses has gotten more complicated since this was written, so I'm closing this. Let's revisit as needed.

[2017-01-16 02:02] #385 closed

[2017-01-19 04:39] kariabancroft commented on #442
@lilliealbert Yes! I think I got most of it working a little while ago. It will just take me a little bit to try to remember where I'm at again.

I'm pretty sure I was working through the option we discussed in [this](https://groups.google.com/forum/#!topic/bridge-troll/H_24VYpov60) thread on the google group so I just want to double check that's where i'm at.

[2017-01-20 04:23] lilliealbert commented on #442
Cool! @tjgrathwell do you have any opinions on changing this feature to region announcement emails rather than chapter announcement emails, since chapter membership isn't currently an actual thing in the app? (More background here: https://groups.google.com/forum/#!topic/bridge-troll/H_24VYpov60)

[2017-01-29 00:17] lilliealbert opened #523 "Make all fields other than Title optional until an event is submitted for approval"
Events in the draft state should not validate the presence of anything but the title.

[2017-02-02 23:34] Holyoke commented on #325
Hi @lilliealbert, I'm thinking of taking this issue on, and I'm curious to what kind of approaches you've considered for this!

I think it boils down for the `_form` partials for rsvp's and new events having access to a `@event.food_provided?` kind of method so they can decide if food options are available. Upon an organizer creating an event, It would like something like this

![image](https://cl

[2017-02-04 06:09] tjgrathwell commented on #325
The new `food_provided` column sounds good. The migration that adds it should probably set it to `true` for all existing events.

[2017-02-07 01:29] Holyoke commented on #325
Hi, just wanted to update with my approach and talk about part ii of the issue. As it stands, I can submit a pull request to disable food options from the Organizer tools, so they won't show up in rsvps. Here's with it enabled:
![image](https://cloud.githubusercontent.com/assets/6300995/22673305/3933bdcc-ec8e-11e6-945e-904f5dc616f8.png)

Then when the event doesn't have it enabled in Organizer Too

[2017-02-09 07:09] SteveBarnett commented on #515
@ultrasaurus How are you feeling about the state of that google doc? I'm keen to throw that (or something similar) into the copy of the RBCPT site. :)

[2017-02-10 23:28] tigarcia commented on #499
Hi, I'm working on the d3 workshop map with Sarah and I don't have a lot of context about what data is available to us, so forgive me if I ask a dumb question.  As part of this map visualization, there were a few ideas to improve what we currently have:

1. Show a year by year (or month by month if the data is available) animation of different *bridge organizations, including when the organization

[2017-02-12 09:05] LauraKirby commented on #499
Hi @tigarcia, @ultrasaurus and @lilliealbert,

This evening, I spent some time making the API accessible for the [Workshop Map](https://github.com/bridgefoundry/workshop-map).

I have submitted a [pull request](https://github.com/railsbridge/bridge_troll/pull/524) on the Bridge Troll repo to grant origin "bridgefoundry.org" access to the "events.json" resource.

Additionally, I have submitted a [p

[2017-02-12 19:27] lilliealbert commented on #325
@Holyoke Please do submit a PR for the turning-off / turning-on functionality! That will be a good configuration to offer.

The reason that food needs should be configurable is that paying for all the combinations of vegan/veggie/gluten-free/dairy-free can be very expensive, and that not all workshops will be able to find catering in their area that will cover those needs. I want Bridge Troll to b

[2017-02-12 20:12] Holyoke commented on #325
@lilliealbert More than happy to to tackle more food options! I thought there was a discrepancy between the issue and implementation, since the relevant model was cited as dietary restrictions. I do believe in the value of the food options, but I also was unsure on how to implement it as well. Nonetheless I wanted to present the food options toggling first, before working on the second part of the

[2017-02-12 23:22] lilliealbert commented on #325
@Holyoke Cool — I think emailing the mailing list is a good idea for getting architectural advice. (I'm a bit spread thin at the moment, so more hands on deck would be great.)

[2017-02-13 21:15] ChanChar commented on #523
@lilliealbert I can tackle this one on my free time. :]

[2017-02-14 06:52] tigarcia commented on #499
@LauraKirby It looks like the api is giving us all the upcoming events on bridge troll.  Is there a way to get older data?

[2017-02-14 22:54] LauraKirby commented on #499
@tigarcia, good catch. I will take a look.

[2017-02-16 07:03] tjgrathwell commented on #499
@tigarcia @LauraKirby

| url | what it do |
| - | - |
| http://bridgetroll.org/events.json | just upcoming events (default) |
| http://bridgetroll.org/events.json?type=upcoming | just upcoming events |
| http://bridgetroll.org/events.json?type=past | just past events |
| http://bridgetroll.org/events.json?type=all | all events |

[2017-02-21 17:00] javierjulio opened #526 "Updating course description for a specific location (RailsBridge NYC)"
I'm new to BridgeTroll so I'm not sure where or how best to do this. For RailsBridge NYC we have an issue where the course description contains a URL to docs.railsbridge.org but we use docs.railsbridgenyc.org. Seems we don't have any capability to change that. It's causing us a lot of grief as some students end up on the wrong URL (e.g. show up late and miss the note). I noticed there is [default

[2017-02-21 17:08] lilliealbert commented on #526
@javierjulio I would actually want to take this as an opportunity to see if we could merge any of the improvements that the NYC fork has back into the main docs repo. Could you tag in anyone from NYC who would be good to have in that conversation?

[2017-02-21 17:14] javierjulio commented on #526
@lilliealbert that's great because before posting this we were talking about that on the RB NYC slack. They want to do the same thing, get our docs fork changes back into the main repo. I've asked some on the team to comment here. I'd be happy to contribute the time to take care of any merge conflicts. I'd also like to contribute some other docs changes too and can do that as separate PRs.

[2017-02-21 17:24] lilliealbert commented on #526
That would be great!

Looking at the fork, it seems like it's a fork of RailsBridge Boston's fork, which itself is very diverged from the main repo. So we'll probably want to be pretty specific about what y'all find most valuable from the fork, since it's pretty long-lived at this point.

[2017-02-21 17:31] javierjulio commented on #526
@lilliealbert yes finding out now that its probably way way off whatever we decide to do. We'll see if we can figure that out. Although this doesn't change anything for us in regards to the link. Is there something we can do temporarily to either not have that URL hardcoded in the course description or have a way to replace it for certain regions?

[2017-02-21 22:40] LauraKirby commented on #499
Great, thank you for clarifying @tjgrathwell!

[2017-02-22 03:06] qiheme commented on #526
Hi guys!! Continuing off of what @javierjulio mentioned, we want to begin working some of the changes back into the main Docs repo. We are running a fork of a fork, so it seems like a fresh PR with the changes is the way to go. We were thinking that the VM installfest would be an alternative to the traditional installfest, with some supplemental instruction along the way if you were using a VM ins

[2017-02-22 20:29] lilliealbert commented on #526
I'd be interested in a PR that grabbed just the VM stuff and offered it as a separate Installfest option at the top level of the docs — so maybe "Installfest - Native Install" and "Installfest - Virtual Machine" (or call it something else). I'd like to prevent the confusion of having two separate paths within the current main Installfest, since there are already a billion branching points with all

[2017-02-23 18:35] medwards1771 commented on #523
@lilliealbert I'm taking a look at this and am curious: if we only want to validate the presence of a title for events in the draft state, can we remove the null:false constraint on chapter_id in the /events db table? Or would you prefer to keep the null:false constraint on chapter_id and validate presence of a title AND chapter for events in the draft state? thanks! :)

[2017-02-24 01:38] lilliealbert commented on #523
Good question! I lean vaguely toward removing the DB constraint since sometimes a chapter might not even exist yet. But also, ugh, it's very nice to have, since it'd be super effed to have a live event without a chapter.

@tjgrathwell what do you think?

[2017-02-27 20:51] junwenzhong opened #529 "Student RSVP submission Error"
After submission to RSVP as a student, the page uploaded to an error.

Page Error Message:

"The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved."

https://www.bridgetroll.org/events/339/rsvps

[2017-02-28 14:53] hfenton commented on #529
I have reports for the same issue for event https://www.bridgetroll.org/events/338

[2017-02-28 17:03] junwenzhong commented on #529
Thank you, Heather! I am now signed up!
-Jun

On Tue, Feb 28, 2017 at 6:53 AM, Heather <notifications@github.com> wrote:

[2017-02-28 17:18] hfenton commented on #529
Glad that worked for you Jun!

Hopefully that info helps with fixing the bug too. 😄  🐛

[2017-03-08 21:22] webRat opened #530 "Unable to login"
I'm unable to login without using the "Forgot Password" workaround.

Browser: Chrome Version 56.0.2924.87 (64-bit)
OS: macOS 10.12.3

How to repeat:
* Clear cookies
* Go to site, and attempt to sign in
* Watch as nothing seems to work

Workaround:
* Instead of attempting to sign in, use the "Forgot Password" route
* Wait for email
* Click link in email
* Use existing password instead of creating a

[2017-03-08 22:30] steveklebanoff commented on #530
after confirming my registration, i'm unable to sign in as well

[2017-03-10 04:08] tjgrathwell commented on #530
@webRat Yikes, that's really bad. Seems like it's probably been broken since [the Rails 5 upgrade push on Feb 28](https://github.com/railsbridge/bridge_troll/commit/542dc1566ebe0eb29576d1dd0a60665d49256765), surprised it took this long for anyone to report it.

OAuth signin seems unaffected, so maybe people most people have been using that.

I've reverted production back to the Rails 4.2 version f

[2017-03-10 06:12] #530 closed

[2017-03-10 06:19] tjgrathwell commented on #530
Should be fixed now. FYI the issue was this thing documented in the Devise readme: https://github.com/plataformatec/devise/commit/c520e93733701321c86db320db181521caea0ca1. Didn't notice the positioning of `protect_from_forgery` was significant when I was looking over the changes from `rake rails:update`.

Thanks for reporting, please file another issue if you see any new weird things happen.

[2017-03-10 18:49] webRat commented on #530
Thank you @tjgrathwell!

[2017-03-24 15:25] dwestheide opened #532 "Addition of ScalaBridge Berlin chapter"
Hey there,

we have started to organize our first ScalaBridge Berlin event and would like to use BridgeTroll for it. Could you please add a ScalaBridge Berlin chapter? Thanks a lot in advance.

[2017-03-26 05:03] tjgrathwell commented on #532
Should be there now, have a great event!!

[2017-03-26 05:03] #532 closed

[2017-03-26 14:19] dwestheide commented on #532
Thanks a lot! :)

[2017-04-06 04:19] aneyzberg opened #533 "Being added as a leader for ElixirBridge to approve related events"
@tjgrathwell I started ElixrBridge a few months ago, and I just posted another event and I realized I do not have permission to publish it. Can I be added as a leader for ElixirBridge so that I can publish events?

Please let me know if there is anything I need to do. Thank you!

[2017-04-06 04:32] aneyzberg opened #534 "Add text to Bridge Troll about how to get added as a Bridge Leader to approve events"
@tjgrathwell Would it make sense to have a space in the app that states that one should create an issue to get added as a Bridge Leader in order to approve events ( in the cases where it is appropriate)?

Maybe it could go under the get involved section on the home page? and say something along the lines of  -

"If you need to be added to approve events for your particular Bridge, please create an

[2017-04-07 05:19] tjgrathwell commented on #533
should be done now :sunglasses:

[2017-04-07 05:19] #533 closed

[2017-04-07 07:26] aneyzberg commented on #533
thank you @tjgrathwell!

[2017-04-12 20:21] shastablasta opened #535 "New footer"
Create new footer above the troll image.

The txt and links to include are:

- [x] [About Bridge Foundry](http://bridgefoundry.org/what-we-do.html)

- [x] Past events
(Please create new page and move all the Past events info there)

- [x] [Code of Conduct](http://bridgefoundry.org/code-of-conduct/)

- [x] [Source Code](https://github.com/railsbridge/bridge_troll)

- [x] [Report a Bug](https://gith

[2017-04-12 20:31] shastablasta commented on #534
@aneyzberg Lillie, Travis, and I have been working out some new pages. I think this is something that could work into the content of one of them. @careful-with-that-axe is working on building out that new structure soon. I'll keep a note of this as something to incorporate and will ping you for the PR when we're ready.

I will be putting up a large issue soon outlining what we're doing. sound good

[2017-04-13 17:42] aneyzberg commented on #534
@shastablasta Sure, that sounds great!

[2017-04-18 18:16] stewSquared opened #536 "Add ScalaBridge New York chapter"
Hi! We're planning a ScalaBridge event in New York on June 3rd.
Could we add `ScalaBridge New York` to the list of chapters?

[2017-04-21 19:07] tjgrathwell commented on #536
Added!

[2017-04-21 19:07] #536 closed

[2017-04-21 19:08] stewSquared commented on #536
Thanks!

[2017-04-24 22:00] shastablasta opened #537 "Event card updates"
These are updates to the individual event cards on the homepage.

- [ ] Convert sign-up buttons to single button that says “Sign Up & More Info”
_Button should go to the event info page, vs. an RSVP page_

- [ ] Add region name to each event card
_At the top of each card set off, visually. Make it a black bar with white text. This will help with the transition when we switch over the visual design

[2017-04-24 22:33] shastablasta opened #538 "Misc. Home Page edits"
**Misc**
- [ ] Show welcome text all the time (whether logged in or not)

- [ ] Remove events calendar subscription feature entirely
_Someday we’ll have something awesome instead. Not today. Leave the bit about email preferences for now_

**Filter**
- [ ] Change default text on filter from "regions" to “All Upcoming Events”
- [ ] Align Filter to the left and put above "upcoming events"

The follow

[2017-04-24 23:11] shastablasta opened #539 "Top Navigation"
**Logged Out**

- [ ] Swap the order of the _Sign In_ and _Sign Up_ buttons

**Logged In**

- [ ] Convert username/profile picture to a drop down menu
_– Should be styled like a blue button (for now) Remove profile picture (just from here we'll still use it other places)_

- [ ] Add hamburger symbol to right of profile name

- [ ] These dropdown items are viewable for everyone
_– Profile Settings

[2017-04-26 20:47] wonderwoman13 opened #540 "AlexaBridge Pittsburgh & Alexa Skill Development course"
Hello! I'm the previous organizer of ClojureBridge and RailsBridge Pittsburgh. I'm working on a new event!

Can you please do the following for me:

- Add the AlexaBridge Pittsburgh chapter
- Add "Alexa Skill Development" for the "What course is being offered?" question.

Thank you for everything you all do! 💟

[2017-05-01 15:03] robinske opened #541 "Add me as a ScalaBridge event approver"
Often new Bridges contact me about organizing and approving their events, could I be added as an approver for events (even if they're outside of my local chapter?)

Let me know if you have any questions!

[2017-05-01 18:04] tjgrathwell commented on #541
You should be added now, give it a shot

[2017-05-01 18:04] #541 closed

[2017-05-02 17:07] Rosa-Fox opened #542 "Rails Bridge Brighton"
Hi,

I am planning to run a Rails Bridge workshop in Brighton, England on 6th July (the day before Brighton Ruby conference).

I tried creating the workshop on Bridge Troll and it said I needed to create an issue on here first.

Please let me know how I proceed with this.

Many thanks.

Rosa

[2017-05-02 18:08] careful-with-that-axe commented on #540
Heya! I am going through the open issues and wrapping them up, will take care of this now providing I have the right credentials otherwise I will track down someone who can and it will be a little longer.

From the other people who do so much more than I have for Bridge Troll, you are so welcome! And thanks for the work you do building workshops! ❤️

[2017-05-02 18:24] careful-with-that-axe commented on #540
So I will either need to get access myself or someone else will add these, but I have pinged some people who can help so it won't be too much longer.

[2017-05-02 18:37] wonderwoman13 commented on #540
@careful-with-that-axe first off, amazing Github handle. Secondly, thank you for helping me! 🙌

[2017-05-02 19:05] careful-with-that-axe commented on #540
Always glad to help and thanks! I am very fond of it myself. 😺  Wonder Woman is great too. :)

[2017-05-03 11:47] Rosa-Fox commented on #542
Hi,

Thanks for your quick reply. I will use London :)

[2017-05-03 12:46] Rosa-Fox commented on #542
I have submitted an event via Bridge Troll, looking forward to it!

[2017-05-03 23:26] careful-with-that-axe opened #543 "New footer"
Testing project... this can be closed/deleted.

[2017-05-03 23:30] careful-with-that-axe commented on #543
Test issue, closing.

[2017-05-03 23:30] #543 closed

[2017-05-03 23:44] careful-with-that-axe commented on #539
- [ ] Add Publish Event link to drop down until 100% certain about placement within new design

[2017-05-04 14:33] careful-with-that-axe commented on #540
@wonderwoman13 you should be good to go now! I have created a course for you and added an AlexaBridge organization and a AlexaBridge Pittsburgh chapter.

Course wise though it will be good to have more information now that I have seen the fields required.

This is an example from the Elixir course:

name: Elixir
title: Elixir and Phoenix
Description: This is an ElixirBridge event. The focus will b

[2017-05-04 15:14] wonderwoman13 commented on #540
@careful-with-that-axe

name: Alexa
title: Amazon Alexa
Description: This is an Alexabridge event. The focus will be on developing Alexa Skills to be utilized by Amazon Echoes.

Thanks so much! 💃

[2017-05-04 15:24] careful-with-that-axe commented on #540
Updated! You are totally welcome. 💛

[2017-05-12 22:27] #542 closed

[2017-05-12 23:18] shastablasta opened #544 "Create New Event Page"
Currently https://www.bridgetroll.org/events/new

Split the content of this page into two.

**The first page**

- [ ] Includes all the guideline text currently on the page under the heading _Guidelines for *Bridge workshops_

- [ ] Create a new list that will replace the section with the heading: _Ready to create your Event? Hold on a second..._
See prototype for a reference point https://marvelap

[2017-05-12 23:27] shastablasta opened #545 "Event level pages"
Admins & event approvers should see publishing checklist at the top of all unpublished events
Same content that’s currently on the “Unpublished Events” page
Event submitted for approval email should link only to the event itself, not the unpublished events page
Remove Unpublished Events page

[2017-05-15 13:35] noelwelsh opened #546 "Creating a ScalaBridge chapter in Copenhagen"
Hi,

We're organising a ScalaBridge event in Copenhagen:

http://event.scaladays.org/scaladays-cph-2017#00-Introduction

We'd like to use BridgeTroll to organise it. Can you create a chapter for Copenhagen?

Thanks,
Noel

[2017-05-15 14:44] careful-with-that-axe commented on #546
Hi Noel, thanks for organizing this event! I just added the ScalaBridge Copenhagen chapter.

Please let me know if you need anything else or have any questions, I am happy to help. :)

[2017-05-15 14:45] noelwelsh commented on #546
Awesome! Thanks!

[2017-05-18 18:37] #546 closed

[2017-05-23 17:58] LauraKirby opened #547 "style-guide"
commit 174f1d3276f079a aims to make the style-guide available publicly on Bridge Troll.

<img width="1194" alt="code change" src="https://cloud.githubusercontent.com/assets/7623147/26368515/b9c63454-3fa6-11e7-962e-b0809e1ed359.png">

Currently, this page is not available.
<img width="789" alt="bridge-troll-style-guide" src="https://cloud.githubusercontent.com/assets/7623147/26368388/57aabdd0-3fa6-

[2017-05-25 06:34] tjgrathwell commented on #547
Guess I had forgotten to deploy after that commit, :rocket: [it's live now](https://bridgetroll.org/styleguide) :rocket:

[2017-05-25 06:34] #547 closed

[2017-05-25 17:18] LauraKirby commented on #547
Thank you @tjgrathwell

[2017-05-27 17:59] rachelober opened #550 "Add MobileBridge NYC to chapter list"
Magdalena Nemesh is interested in starting a chapter of MobileBridge in NYC and I will be working with her to set up local connection.

[2017-05-27 23:05] tjgrathwell commented on #550
done 👍

[2017-05-27 23:05] #550 closed

[2017-05-30 10:28] heathermiller opened #551 "Can you add a "ScalaBridge Switzerland" chapter?"
Since Switzerland is so small, we are a handful of organizers that help each other organize ScalaBridge events in different cities (each a short train ride apart), such as Basel, Zurich, and hopefully soon Bern and Lausanne. We all commute to each other's city and help out there.

[2017-05-30 10:54] tjgrathwell commented on #551
Done 👍

[2017-05-30 10:54] #551 closed

[2017-05-30 12:08] heathermiller commented on #551
Thank you!

[2017-06-12 14:50] medwards1771 commented on #523
hey @lilliealbert I'm still trying to figure out a good solution for this. the quickest fix seems like adding conditional logic to the validations, but that makes the tests messy and feels more like a workaround than a real solution. i'd love to be able to pair with someone here and talk through trying to extract a lot of the existing conditional logic re: the current state of an event into differ

[2017-06-13 15:00] medwards1771 commented on #529
Hi 👋 @hfenton @junwenzhong I'm taking a look at this bug and having some trouble replicating the issue. It sounds like something went wrong during the POST request to 'https://www.bridgetroll.org/events/339/rsvps', but what I don't know.

If you have the chance, could you visit https://www.bridgetroll.org/events and try RSVP'ing to an upcoming event as a test? Don't worry about the fact you won't

[2017-06-13 15:20] hfenton commented on #529
@medwards1771 I have rsvp'd to https://www.bridgetroll.org/events/352/rsvps/

Here are the things I selected:
- Attend as student
- Mac OS X - Sierra
- Class Level Purple
- Check Installfest
- Check Future notifications
- Check Code of Conduct
- Submit

I did not receive an error.

[2017-06-13 15:23] medwards1771 commented on #529
Cool, thanks @hfenton

[2017-06-16 18:04] baw commented on #329
I can work on this.

[2017-06-19 19:23] wonderwoman13 commented on #540
Hello! I need to re-open this because I'm missing the class levels on the event that was published.

https://www.bridgetroll.org/events/360

Can we please include these 2 levels?

Beginner = no programming experience
Intermediate = comfortable with one programming language (preferably Node.js, Java, C# or .NET)

Thank you, @careful-with-that-axe!

[2017-06-19 23:09] careful-with-that-axe commented on #540
Hi @wonderwoman13 I think it is all sorted, check it out and see if this works for you?

https://www.bridgetroll.org/events/360/rsvp_preview?role_id=1

Glad to be able to help and it is good to know for the future to get the levels in as well. :)

[2017-06-20 00:13] wonderwoman13 commented on #540
Perfect! <3

[2017-06-20 00:13] #540 closed

[2017-06-20 00:14] wonderwoman13 commented on #540
Thanks again!

[2017-06-25 15:49] medwards1771 commented on #522
@maxjacobson and I took a look at this issue and found that several validations are already in place:

**front end:**
- in the html view, the checkboxes are disabled for student users on all event sessions req'd for students: https://github.com/railsbridge/bridge_troll/blob/5ab4c604c81624518c459e31f95c87bd564be951/app/views/rsvps/_form.html.erb#L102

**back end:**
- in #rsvp_params, we add require

[2017-06-25 17:08] jademcgough opened #552 "Better support single day events"
Bridge Troll supports displaying 2 or 3 day events, but it looks a bit clunky when you only have a single day:
<img width="529" alt="screen shot 2017-06-25 at 10 03 51 am" src="https://user-images.githubusercontent.com/1147449/27518155-b9c89446-598d-11e7-8c3a-7cd3b282efca.png">

@arceanea and I are going to look into this.

[2017-06-25 19:08] tjgrathwell commented on #552
Was this event originally created with two sessions but then the organizers reconsidered?

There's no reason it needs to look like that, a single-session event is perfectly valid, see https://www.bridgetroll.org/events/351

The code currently doesn't allow sessions to be removed from existing events in the web UI if anyone has already RSVP'd. But I can clean it up in the console if that's how y'al

[2017-06-25 19:14] jademcgough commented on #552
Ah, that'd make sense - just looked odd to me and I hadn't dug into the code yet. I'll close this out then.

[2017-06-25 19:14] #552 closed

[2017-06-25 19:35] tjgrathwell commented on #552
Cool, I collapsed the sessions on that event so now it just looks like this:

![screen shot 2017-06-25 at 12 34 05 pm](https://user-images.githubusercontent.com/1041691/27519147-aa87528c-59a2-11e7-8acb-ba2634415e2e.png)

[2017-06-26 19:16] slhaines opened #553 "Upcoming events filter doesn't include many regions"
The Upcoming events filter doesn't let me select San Francisco Bay Area (or many other regions).

[2017-06-27 03:30] tjgrathwell commented on #553
It only includes options in the filter for regions that have upcoming events, right now it doesn't seem SF has any.

We could have the dropdown include all the regions that have ever existed, but it would be very long and most of them would be empty. I'm open to suggestions about ways we could design this widget better!

[2017-06-27 03:30] #553 closed

[2017-07-05 03:00] ultrasaurus opened #554 "how do we add a course?"
It used to be via pull request, but it looks like the data has been moved to the database.  Would be good to add some help text here:
![image](https://user-images.githubusercontent.com/41906/27847585-45bb9ff4-60f3-11e7-9d34-8c9e82f2fe50.png)

Can someone add some detail on how this works now?

[2017-07-06 04:53] tjgrathwell commented on #554
The procedure is still to add it with code, they're in the database so we can hypothetically add some UI to add courses later.

The last time a course was added it looked like this: https://github.com/railsbridge/bridge_troll/commit/b8ea7d29f3257021afa618278d116b949509986e. After a course is added to that file and deployed, someone needs to run `rake populate_courses`, which is currently documente

[2017-07-07 21:41] lisahamm commented on #329
I have opened a [PR](https://github.com/railsbridge/bridge_troll/pull/555) to address this issue.

[2017-07-12 01:32] LauraKirby commented on #499
Remaining issue: `external_events` do not have `lat` and `long`.
Requesting clarification: on "city" and "external events"

Where I thought we wanted a circle (on the map) for each event, it appears the each`city` with a `event count` is being requested.

Commenting further on @tjgrathwell's and @mfjenn's note:
<pre><code>On Oct 19, 2016, at 12:53 AM, Travis Grathwell notifications@github.com wrot

[2017-07-13 06:06] aneyzberg opened #557 "Add ElixirBridge NYC chapter to BridgeTroll / ElixirBridge Seattle"
I would like to add the ElixirBridge New York City & ElixirBridge Seattle chapter to Bridge Troll. Please let me know if there is anything else I need to do other than open the issue. Thank you!

[2017-07-14 20:27] tjgrathwell commented on #557
Added 👍

[2017-07-14 20:27] #557 closed

[2017-07-14 20:54] aneyzberg commented on #557
thank you @tjgrathwell!!!

[2017-07-19 04:49] #329 closed

[2017-07-19 04:49] tjgrathwell commented on #329
Closed by #555

[2017-07-19 04:54] tjgrathwell commented on #499
@LauraKirby  There are currently 134 ExternalEvent records in the database. Technically they all have a City and Location, but it's usually only enough to identify the city rather than the specific venue.

[2017-07-20 16:34] aneyzberg opened #558 "Permissions to publish events for all ElixirBridge chapters"
Hey @tjgrathwell, would it be possible for me to get permissions to publish events for all ElixirBridge Chapters. I just posted an event for ElixirBridge in NYC, but can't publish it.

Let me know if you need anything else from me.

Thank you!!!

[2017-07-20 20:32] tjgrathwell commented on #558
I've added you as an organization leader for ElixirBridge so things should work out now 👍

[2017-07-20 20:32] #558 closed

[2017-07-20 20:55] aneyzberg commented on #558
@tjgrathwell Thank you!!!

[2017-08-03 22:14] rachelmyers commented on #523
Hi @medwards1771, I know Lillie's busy, and I don't want you to be left hanging on this. I can pair with you on this. I'll email you to find a time we could work together.

[2017-08-06 22:20] ultrasaurus commented on #499
I suggest we have a separate `city` table with lat/long, which can be referenced from `location` (which is typically a specific venue) and `ExternalEvent` which already has a city that is currently a string.

Note: there is value to showing all the cities, rather than using `region` -- it's not only easier to place dots on the map, but there are more of them which makes the impact feel bigger for

[2017-08-17 16:42] hannahhenderson opened #559 "ClojureBridge San Francisco"
Hello!

I don't know that there's actually a chapter in SF, but I'd love to post information on an upcoming ClojureBridge event in SF.

Eventbrite invite: http://www.clojurebridge.org/events/2017-09-15-san-francisco
Volunteer Sign up: https://www.volunteersignup.org/PWMYB (would love to use Bridge Troll in future!)

Official Clojure event: https://clojure.org/events/2017/clojurebridge-sanfrancisco

[2017-09-08 02:44] heathermiller opened #561 "Can you add a "ScalaBridge Boston" chapter?"
Hi,

I live part-time in Boston and would like to set up a ScalaBridge Boston chapter here. Can you create a ScalaBridge Boston chapter?

Thank you!

Cheers,
Heather

[2017-09-08 04:22] tjgrathwell commented on #561
Created! :+1:

[2017-09-08 04:22] #561 closed

[2017-09-08 04:36] tjgrathwell commented on #559
Sorry for the delay in responding!

I've created it as an External Event in bridge troll which mainly just means it will show up at the bottom of http://railsbridge.org/. Additional feature work could make it show up as an upcoming event on bridgetroll.org, maybe someday?

I'm interested in hearing about what enhancements you might want to bridgetroll.org for using it in future workshops, if you'v

[2017-09-08 04:36] #559 closed

[2017-09-08 11:52] skade opened #563 "Add chapter "RustBridge Zurich""
Hi, we're hosting a RailsBridge workshop around RustFest Zurich. For that, we'd need a "RustBridge Zurich" chapter. While we are at it, though it hasn't run workshops this year, there's a "RustBridge Berlin".

The workshop is intended to reach out to women, transgender and non-binary people, and people of color. It also reaches out to disabled people.

[2017-09-08 12:42] skade commented on #563
Closing, I ran ahead here. Sorry, my mistake.

[2017-09-08 12:42] #563 closed

[2017-09-08 16:28] hannahhenderson commented on #559
@tjgrathwell Thanks for making the event! Mostly BridgeTroll looks great to me, but there's no way (or suggested approach) to submit an event without being part of a chapter.

[2017-09-28 22:28] kwokster10 opened #564 "Adding a Test-Driven Development or Javascript/React Chapter & course for NYC"
Hi,

I would like to organize a Bridge workshop on Test-Driven Development with React here in NYC. My company, XO Group, has hosted RailsBridges before and has agreed to host again. However, there doesn't appear to be an appropriate chapter for the workshop I would like to hold. Could I please add a NYC TDD chapter? Along those lines, could the course also be added? I can provide information on th

[2017-10-02 12:42] felixmulder opened #565 "Add "ScalaBridge Stockholm" chapter"
Hi,

We'd like to start hosting ScalaBridge in Stockholm.

Cheers,
Felix

[2017-10-02 14:25] tjgrathwell commented on #565
Added!

[2017-10-02 14:25] #565 closed

[2017-10-08 20:41] rachelmyers commented on #564
Hi @kwokster10, if you're able to take a stab at this PR that might work better; adding a course  requires creating descriptions of the course and levels, and you probably have some of that in your head already.

Here's a [sample PR adding a course](https://github.com/railsbridge/bridge_troll/pull/520/files) that can get you started. I know that file make it seem like it's not real data, but for t

[2017-10-11 13:59] kwokster10 commented on #564
@rachelmyers That's awesome! I'll work on that tonight. Thank you for the response. I was also wondering how mentors get assigned (as noted in the cookbook) since this will be my first time organizing a bridge workshop.

[2017-10-11 19:26] aneyzberg opened #566 "Add ElixirBridge Providence Rhode Island Chapter"
I would like to add the ElixirBridge Providence chapter to Bridge Troll. Please let me know if there is anything else I need to do other than open the issue. Thank you!

[2017-10-11 19:35] aneyzberg commented on #566
@tjgrathwell @ultrasaurus I am sorry to bug y'all - but we are adding an ElixirBridge workshop to the Elixir With Love conference in Providence Rhode Island in a couple weeks. I need to post asap so people have a chance to sign up.

I'm not sure I have permissions to make these kinds of changes. Could one of you help me? Also if this is something I can do, I am happy to do so.

[2017-10-12 15:24] rachelmyers commented on #564
Rad! I'll check out the PR tonight. I tried what I thought was the right way to create a chapter and it didn't work, so I'll figure that out tonight, too.

Mentors can add their preferences for what level they want to work with in their Bridge Troll profile, and for each workshop, Bridge Troll assigns mentors a group, and then the organizer can drag and drop the mentors to different groups.

[2017-10-13 05:45] tjgrathwell commented on #566
@aneyzberg You should be able to add a new chapter by going to '[homepage] -> Chapters -> New Chapter' when logged in as an admin.

For now, I've created the ElixirBridge Providence chapter so this should be good to go :rocket:

[2017-10-13 05:45] #566 closed

[2017-10-18 20:47] kwokster10 commented on #564
Hi, @rachelmyers! I wanted to check in on the status of the chapter. Any luck figuring out how to create it?

[2017-10-19 02:45] rachelmyers commented on #564
I didn't!  @tjgrathwell, what's the right way to create a chapter?

[2017-10-20 16:32] tjgrathwell commented on #564
Sorry for the delay, I've created a "ReactBridge NYC" chapter and the "TDD With React" course should be available for selection.

I chose to go with "ReactBridge" rather than "JavascriptBridge" or "TDDBridge" because I felt like it matched better with the other *Bridge names, but maybe it should be called something different? We can revisit at any time, but you should be unblocked to create the ev

[2017-10-20 16:32] #564 closed

[2017-10-23 17:06] mechamanny opened #569 "Cancel live event"
Hello @tjgrathwell, due to scheduling conflicts with the local railsbridge chapter, I need to cancel this event:

https://www.bridgetroll.org/events/369

Is there a way for me to do so on the organizer console? I already notified all participants and volunteers through email.

[2017-10-24 03:13] tjgrathwell commented on #569
Unfortunately there's no way to remove an event through the UI right now.
For now, I've kicked it back to Draft state, so it will stop showing on the homepage.
I could also delete it entirely if you feel that's necessary.

[2017-10-24 03:13] #569 closed

[2017-10-24 13:08] mechamanny commented on #569
That works, thanks!

[2017-11-08 07:55] aneyzberg opened #570 "Remove ElixirBridge Providence 11/11/17 workshop from Site!"
@tjgrathwell We need to remove the following workshop from the site -
 https://www.bridgetroll.org/events/373 - we are cancelling that is happening on  the workshop due to lack of signups.

Is there anything I can do to help with this?

Thank you!
Anna

[2017-11-11 23:41] tjgrathwell commented on #570
I'm a little late on the ball here but I've kicked the event back to Draft state so it won't show up anywhere.
Now that this has happened a few times I guess that should probably be made a feature in the app?

[2017-11-11 23:41] #570 closed

[2017-11-28 02:22] sarahjschultz opened #571 "Cancel upcoming event?"
Hi there!

I need to cancel an [upcoming event for the Denver Railsbridge chapter](https://www.bridgetroll.org/events/368) and can't seem to find a way to do this in the Organizer Console or after poking around in the code. We've emailed all of the students/TAs already but I'm nervous that someone might not see the email and will show up day-of to an empty room!

Do you have any recommendations fo

[2017-11-28 03:04] tjgrathwell commented on #571
I've kicked the event back into 'draft' state, so it won't show on the site anymore.

There's no feature on the site to do it, but this is the third time someone has needed to do this in as many months, so maybe it will exist soon.

[2017-11-28 03:04] #571 closed

[2017-11-28 13:22] sarahjschultz commented on #571
Thanks so much @tjgrathwell !

[2017-12-22 16:34] mfjenn opened #572 "Add ability to cancel an event or mark it canceled."
In looking at the recent even for Denver RailsBridge, they canceled their event and mentioned in the BT event that there was no way to cancel the event in bridge troll. Looks like we need to add that.

[2018-01-11 18:04] domlet opened #573 "Add 'RailsBridge Oakland' chapter to 'Organize an Event' drop-down menu"
On this page:
`https://www.bridgetroll.org/events/new`
Under:
`What Chapter is hosting? (required)`
Add:
`RailsBridge Oakland`

[2018-01-11 19:32] careful-with-that-axe commented on #573
@domlet woot! Oakland chapter!!! You rock. I will add this a bit later today and then ping you when it is done. <3 Jane

[2018-01-11 19:39] domlet commented on #573
You're the best – your energy is so contagious and I'm excited to work with
this community. :) Thank you!
ᐧ

[2018-01-11 19:43] careful-with-that-axe commented on #573
Awww... thanks for kind words, I have been one drained kitten lately so now it is your energy I am getting contagion from! Like a relay race. ;)

Any interest in going a bit bigger? RailsBridge East Bay is open and needs some love. But totally understand if want to keep it city based, Oakland is a special/amazing place.

[2018-01-11 20:23] domlet commented on #573
Oh! Of course – I currently live in Berkeley so East Bay is perfect –
thanks so much :)

Sending cosmic jam bands.
ᐧ

[2018-01-11 20:45] careful-with-that-axe commented on #573
Yay! Please go ahead and roll with using East Bay chapter for your event.

This week and the next look a little hectic for me but after that I have loads of time and we will have to plot and plan East Bay coming back to life. The dream is SF and East Bay switch off workshops and support each other.

Also I will ping you directly to offer any other assistance. Thanks again for this, it brightened m

[2018-01-11 20:49] domlet commented on #573
Love – and will do. Thanks so much for your replies, and see you in
emailandia.
ᐧ

[2018-01-15 21:53] PendragonDevelopment opened #574 "Add RailsBridge Athens, GA Chapter"
Hi! I'd like to submit a RailsBridge chapter for Athens, GA to the chapter list. We've run several Rails Girls workshops and are eyeing a RailsBridge workshop in early April for our local Startup Week.

Thanks!

[2018-01-16 06:50] #573 closed

[2018-01-17 05:22] tjgrathwell commented on #574
Added!
https://www.bridgetroll.org/chapters/74

[2018-01-17 05:22] #574 closed

[2018-01-20 20:28] ultrasaurus opened #575 "seeing past events in "upcoming events" is confusing (second day is still in the future)"
On Jan 20, I looked at the home page and saw:

![image](https://user-images.githubusercontent.com/41906/35187715-01bda086-fddd-11e7-9490-04302ea1971b.png)

I was confused at first and assumed it was a bug.  I only looked deeper at it because I wanted to report the bug, and then I noticed it is a multi-day event with some days in the future.

* Monday, January 15, 2018: Volunteer Training
* Friday,

[2018-01-31 02:28] domlet opened #576 "Add <meta> social image on Event Pages (to improve social sharing)"
Optimize how [event pages](https://www.bridgetroll.org/events/385) appear when shared on Facebook.

Here's how they appear now:

![image of facebook post] (https://www.dropbox.com/s/whwgnzrlhovxb9s/railsbridge_event_fb_share.png?dl=0)

I think this is how to add an image (posted 3 years ago):
[https://www.facebook.com/help/community/question/?id=10200814000150949](url)

`add these HTML meta tags i

[2018-01-31 21:42] pirita opened #577 "Create ScalaBridge Madrid"
Hello,
I'm the co-organizer of Scala Meetup in Madrid a We would like to create an event.

Sadly, there is no chapter in our city, is it possible to have one?

Regards,
Ignacio Navarro

[2018-02-01 04:01] tjgrathwell commented on #577
Created! https://www.bridgetroll.org/chapters/76

[2018-02-01 04:01] #577 closed

[2018-02-02 19:33] domlet commented on #576
I nominate this image:
[https://www.bridgetroll.org/assets/troll_plus_logo-10175e4141eb605fb0a96d68885ab9c0beefb987e4dbdb837b51937e5f295969.svg](url)

[2018-02-16 19:45] jboursiquot opened #578 "New region + chapter"
Hi, I'm trying to create an event for GoBridge in the Baltimore, MD region.

Please add a new Region = Baltimore, MD
Please add a new chapter  = GoBridge Baltimore

Thanks!

[2018-02-17 02:56] tjgrathwell commented on #578
Created!

https://www.bridgetroll.org/regions/89
https://www.bridgetroll.org/chapters/77

[2018-02-17 02:56] #578 closed

[2018-02-25 04:11] domlet commented on #535
I took a crack at this because I was looking for something simple to tackle – hope that's okay. Submitting a PR now.

[2018-03-29 10:03] nywilken opened #581 "New GoBridge NYC Chapter"
Hello, I'm trying to create a GoBridge workshop in the NYC region.

Please add a chapter called **GoBridge NYC**

Thanks!

[2018-03-31 01:01] tjgrathwell commented on #581
did it! https://www.bridgetroll.org/chapters/78

[2018-03-31 01:01] #581 closed

[2018-04-28 23:53] jacklynhma opened #582 "Creating an option to remove class level"
I am one of the organizers for Boston Railsbridge and unfortunately we only offer one class level. We would really love to use Bridge Troll, but can not since we can not remove the class level selection from the students sign up form. If you agree this is a feature to have I am more than happy to open a PR.

[2018-04-30 00:40] cat-turner opened #583 "gobridge providence"
Hello,

I'd like to host a gobridge event in Providence, RI. What is the process of starting a chapter?

[2018-05-24 04:02] tjgrathwell commented on #583
So sorry @cat-turner, I didn't see this until now.

If you're still interested, I've made a GoBridge Providence chapter so you should be able to select it when making events: https://www.bridgetroll.org/chapters/111

[2018-05-24 04:02] #583 closed

[2018-05-26 21:40] hectormansilla opened #584 "Please add a new chapter"
Hi Team!

Please, add a new chapter: "RailsBridge Chapter Chile", we're organizing a workshop in Santiago of Chile. Thanks!

[2018-05-27 00:49] tjgrathwell commented on #584
Alright, I added a "RailsBridge Chile" chapter.

[2018-05-27 00:49] #584 closed

[2018-06-10 16:21] iisa opened #585 "Add Admins to Bridgetroll - Isa, Ilen"
Hello,

We aren't able to access the admin features on Bridgetroll for Bridge Foundry work.

Isa user ID: 6
Ilen user ID: 11175

Would you be able to give us admin access?  Thanks in advance.  Isa

[2018-06-12 16:20] tjgrathwell commented on #585
Looks like these users have the admin bit now, I didn't do it but I guess someone else did?

[2018-06-12 16:20] #585 closed

[2018-06-13 21:44] lgarron opened #586 "Update repo URL to HTTPS"
The websites serves and redirects to HTTPS! 😀
https://www.bridgetroll.org/

Since Bridge Troll is not HSTS preloaded, it would be safer to link people directly to HTTPS from the project URL at the top of https://github.com/railsbridge/bridge_troll 😊

[2018-06-14 02:04] lgarron opened #587 "Preload HSTS for bridgetroll.org"
I think it would be nice to fully secure the site using HSTS. [Scott Helme's blog posts](https://scotthelme.co.uk/hsts-the-missing-link-in-tls/) outlines the benefits, and [hstspreload.org](https://hstspreload.org/?domain=bridgetroll.org) lists the requirements

I recommend the following steps:

1. Double-check that there are no subdomains that rely on HTTP.
2. Commit a trial header; test it on st

[2018-06-16 20:50] ultrasaurus opened #591 "twitter authentication not working"
I just tried to log into bridgetroll.org and got an error when I tried to authenticate with twitter

redirected to: https://www.bridgetroll.org/users/auth/twitter?origin=%2F

![image](https://user-images.githubusercontent.com/41906/41502317-2d45d8ba-716c-11e8-966d-3b82b221cbcd.png)

[2018-06-17 00:50] tjgrathwell commented on #591
Should be fixed now. Facebook login was also broken, should now also work.

I think both platforms had looser rules about callback URL matching; I had the callback set as "[domain]/users/auth/twitter" before, but they apparently require it to be "[domain]/users/auth/twitter/callback"

[2018-06-17 00:50] #591 closed

[2018-06-17 16:43] ultrasaurus commented on #591
thank you!

[2018-06-24 18:54] ultrasaurus commented on #585
thanks for closing this @tjgrathwell

FYI: this was taken care of by @careful-with-that-axe

[2018-06-27 02:38] jroes opened #592 "New Chapter: RailsBridge Charlotte"
Hi there!

We're planning on hosting an event in Charlotte, NC on August 3-4, 2018. We already have a venue committed and are working on our site, https://railsbridgeclt.com.

Would love to get a chapter added so we can use the BridgeTroll tool!

Thanks in advance!
-Jon

[2018-07-01 16:17] ultrasaurus commented on #485
We did this import a few years ago!  Closing this issue.

[2018-07-01 16:17] #485 closed

[2018-07-01 17:09] ultrasaurus commented on #586
Good catch.  Done!

[2018-07-01 17:09] #586 closed

[2018-07-01 17:16] ultrasaurus commented on #576
I love the troll, though there's a parallel visual design / branding effort underway, where we planned to change the name of the website to events.bridgefoundry.org and keep bridgetroll as the name of the open source software project (https://github.com/railsbridge/bridge_troll/issues/488).

Any ideas for an alternate image?

cc @shastablasta @LauraKirby

[2018-07-04 19:57] jroes commented on #592
Thanks @tjgrathwell!

Hey, would you happen to know how to get our event approved? We have a draft that's been in the approval queue since last week. Hoping to get it live so we can start sharing the event early enough for folks to get it into their schedule!

[2018-07-05 05:58] tjgrathwell commented on #592
It is approved :1st_place_medal:

[2018-08-09 11:54] kaxcode opened #593 "Gobridge Chapter in Norfolk VA"
We don't have a Gobridge Norfolk chapter but it's a requirement in the Bridgetroll event application. Can we use a default option?

[2018-08-09 13:12] jroes opened #594 "Post-event survey doesn't seem to work"
I don't know if it gets sent automatically or not, but none of the attendees or volunteers from our event last weekend received a survey email.

When I login to the organizer console, I see a spot to review the survey results, and there are no results. And there's no button to click to send out the survey, from what we can tell either.

As a workaround for people who might run into this in the fut

[2018-08-09 13:14] jroes opened #595 "Feature request: Get a list of attendee and volunteer email addresses"
Where we hosted our event, we needed email addresses ahead of time in order to get folks access to the wireless network at our venue.

We couldn't find any straightforward way to download a list of email addresses in the organizer console, and this would have helped us a ton.

[2018-08-11 07:59] tjgrathwell commented on #593
Added! https://www.bridgetroll.org/chapters/115

[2018-08-11 07:59] #593 closed

[2018-08-28 14:24] cavewoman opened #596 "Add Elixir Chattanooga Chapter"

[2018-09-07 16:42] robinske opened #597 "Add ScalaBridge Montreal chapter"
For an event happening in October. Thank you!

[2018-09-24 22:41] robinske commented on #597
@tjgrathwell could we get this merged? Thanks!

[2018-09-25 03:38] tjgrathwell commented on #597
Added! https://www.bridgetroll.org/chapters/116

[2018-09-25 03:38] #597 closed

[2018-09-25 03:39] tjgrathwell commented on #596
Added! https://www.bridgetroll.org/chapters/117

[2018-09-25 03:39] #596 closed

[2018-09-25 03:39] robinske commented on #597
Thank you so much :)

[2018-09-28 13:40] iisa opened #598 "Add Bridge Foundry as a "Chapter""
Hello, I am making a Bridge Foundry event and didn't see it in the dropdown.  There was a note to make an issue to do so.  Would you be able to quickly add it?  Thanks in advance!

[2018-10-10 15:18] imanialexis opened #599 "This page can't load Google Maps correctly."
On the page for the Fall 2018 Workshop (events/450) google maps is not loading

[2018-12-14 17:04] wassimk commented on #599
I'm happy to work on this. Someone needs to generate a new Google API key, I believe the problem is it's not free anymore.

[2019-01-16 20:35] michaelglass opened #601 "ElmBridge Berlin!"
Howdy! We're in the process of founding the Berlin ElmBridge chapter. (Also looking for co-organizers!) We did a trial run of the curriculum last month and we'll be hosting the meetup every other month.

[2019-01-16 21:00] tjgrathwell commented on #601
okay i made a chapter https://www.bridgetroll.org/chapters/118

[2019-01-16 21:00] #601 closed

[2019-01-19 18:54] ultrasaurus opened #603 "DEPRECATION WARNING running tests"
when running the tests, I see a couple of warnings...

[code]

`user_spec.rb` line 9:

[code]

[2019-01-19 18:58] ultrasaurus commented on #603
source of this seems to be in `shoulda-matchers` gem: https://github.com/thoughtbot/shoulda-matchers/issues/933

[2019-01-19 19:10] ultrasaurus commented on #510
taking a look at this today with @laurosilvacom

[2019-01-22 21:07] jhsu802701 commented on #599
When I run the test suite, I get the following test failure:
[code]

[2019-01-25 07:53] ultrasaurus commented on #599
what do you think about replacing with alternate visualization?  I made this a while back:  https://bridgefoundry.org/workshop-map/  -- not sure if data source is dynamic, but might be straightforward to make it so

[2019-01-25 07:55] ultrasaurus commented on #599
FYI -- if people love the google maps, I can register for the API. Even if it costs $, my guess will be low for our traffic.

Personally I have found the Google Map UI to be fairly unreadable and I always accidentally zoom out and get multiple copies of the world, which is pretty weird.  Tho I dunno if that just me.

What do other folks think?

[2019-01-26 03:36] ultrasaurus commented on #599
ah, I didn't read the issue carefully, and just realized this happens on the event detail page -- which seems pretty important to fix!

![image](https://user-images.githubusercontent.com/41906/51782129-5144d100-20d8-11e9-8a1f-75715a661242.png)

I will see if I have credentials tomorrow -- or just make a new key.  I set up Firebase Hosting a while back to add SSL for bridgefoundry.org website, so w

[2019-01-29 17:00] ultrasaurus commented on #599
@rachelober has volunteered to dig into the code to figure out where the API Key is referenced, then pair with me on deploying it (since I would expect it's in an environment variable or something)

If anyone knows offhand info about this, please feel free to chime in!

[2019-01-29 19:58] tjgrathwell commented on #599
At the time the maps were originally implemented, Google didn't require an API key at all for simple map functionality. Looks like the change happened in June 2018: https://developers.google.com/maps/billing/important-updates#api_keys_are_now_required

the map code in question should be here:
https://github.com/railsbridge/bridge_troll/blob/b77829a53106b89807f7ded1d3b9d275bbefd014/app/views/shared

[2019-01-30 14:17] jr0cket opened #609 "Add ClojureBridge London chapter"
Please add ClojureBridge London as a chapter so I can add our latest event to BridgeTroll.

Unfortunately there seems no way to add an event without adding a chapter and the ClojureBridge London is not in the list.

Please let me know if you require any further information.

Our event details are at https://clojurebridgelondon.github.io/

Thank you for a great looking event site.  I hope we can us

[2019-01-31 14:32] ultrasaurus commented on #599
WIP - https://github.com/railsbridge/bridge_troll/pull/610

[2019-02-02 04:11] ultrasaurus opened #611 "update heroku "stack""
remote:  !   Warning: You are running on a deprecated stack.
remote:  !   Please upgrade to the latest stack by following the instructions on:
remote:  !   https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack

[2019-02-02 04:44] ultrasaurus commented on #609
I just made a ClojureBridge London chapter.  I just noticed that we don't have any ClojureBridge admins right now -- it takes a little training to get up to speed on our less friendly (not as fully implemented) admin UI.  I'll reach out to the board, but if there's someone on the London leadership team who wants to learn how to be an admin, feel free to send an email to hello@bridgefoundry.org :)

[2019-02-02 04:44] #609 closed

[2019-02-03 15:31] ultrasaurus commented on #611
currently staging and production are on cedar-14:

![image](https://user-images.githubusercontent.com/41906/52178618-c32ab380-2785-11e9-90fb-6d0882cfc2b9.png)

[2019-02-03 15:39] ultrasaurus commented on #611
"Upgrade Stack" upgrades to "Heroku-18" which has the following supported Ruby versions:

MRI:
* 2.4.5 : patchlevel 335, Rubygems: 2.6.14.3
* 2.5.3: patchlevel 105, Rubygems: 2.7.6
* 2.6.1: patchlevel 33, Rubygems: 3.0.1

for starters, will do smallest upgrade from Ruby 2.5.1 => 2.5.3, so as not to change too many things at once

[2019-02-04 01:35] ultrasaurus commented on #611
took quite a bit of experimentation to get the upgraded bundler to be used consistently!

Here's what ended up working:
[code]

the ruby-2.5.3 branch is now deployed on staging: https://bridgetroll-staging.herokuapp.com

[2019-02-04 01:37] ultrasaurus commented on #611
ruby-2.5.3 merged to master, will redeploy master branch to staging first (then update production site, if all goes well)

[2019-02-04 01:49] ultrasaurus commented on #611
missed a couple of commits from my local branch (update Rack timeout syntax and precompiling assets) ==> pushed to staging.  App looks ok, waiting for CI to finish...

[2019-02-04 02:04] ultrasaurus commented on #611
live site updated!

[2019-02-04 02:04] #611 closed

[2019-02-04 02:34] #603 closed

[2019-02-04 02:47] ultrasaurus opened #615 "upgrade testing gems"
With the upgrade to Ruby 2.5.3, I pinned the following gems to a specific version:
- [x] capybara
- [x] factory_bot
- [x] jasmine

Upgrading these to latest may involve some code changes (or maybe not, since we discovered other fixes needed since the initial ruby version update)

[2019-02-04 02:51] ultrasaurus opened #616 "open "operations guide" in a new window"
just merged https://github.com/railsbridge/bridge_troll/pull/600 and pushed it to live site, then realized it would be nice if it opened in a new window/tab

You can see the link on this page: https://www.bridgetroll.org/events/new

[2019-02-07 03:03] gargi opened #617 "Add "Women Who Go Atlanta" chapter"
Hello, we are planning to organize a Women Who Go Atlanta "Introduction to Go" workshop on February 23rd. Could you please add our chapter to the list?

Thank you!

[2019-02-07 06:22] gkunwar opened #618 "Faker: DEPRECATION WARNING running tests"
While running test I got following deprecation warning from Faker gem.

[2019-02-07 23:29] rachelober commented on #595
Hi @jroes, the ability to have access to attendee's email addresses was removed from the code base a few years ago. While I definitely appreciate the difficulty this presents, this was a move for privacy for attendees.

Proposed workaround: email your attendees fill out a Google form that collects their email addresses so that you can do the pre-work to get people on the internet at your venue.

c

[2019-02-07 23:42] rachelober opened #619 "Events without a regional leader get stuck in approval limbo"
In November, we were contacted by an organizer from Tulsa, Oklahoma about a pending event that sat in "approval limbo". Now in February, the same organizer had an issue getting their event approved. We would like to lower the friction to getting these events posted on the Bridge Troll website so that we can help these organizers promote and get attendees to their events.

This issue seems to stem

[2019-02-08 19:48] jhsu802701 opened #622 "Test failing in local environment but passing in Travis"
The test fails at line 89 of spec/features/events/new_event_request_spec.rb.  The message is:
[code]

[2019-02-08 19:49] jhsu802701 commented on #618
I addressed this in a Pull Request #621.

[2019-02-09 17:57] jhsu802701 opened #623 "Add test coverage badge"
I have added SimpleCov in Pull Request #606 .  We should add a code coverage badge.

(Good news: Test coverage is 93.35%.)

[2019-02-09 20:12] jhsu802701 opened #624 "rails-erd gem not working"
In my ruby_on_racetracks branch, I have rails-erd installed.  When I run the command "bundle exec erd --attributes=foreign_keys,primary_keys,timestamps,inheritance,content --filetype=dot --filename=tmp/diagram-models --inheritance --notation=bachman
dot -Tjpg tmp/diagram-models.dot", I get the following error messages:
[code]

[2019-02-09 22:23] jhsu802701 commented on #624
rails-erd seems to have difficulty with ActiveHash::Base types.

[2019-02-28 18:11] emmacunningham opened #625 "Add ElmBridge Los Angeles chapter"
Hello!  We're in the process of organizing our first ElmBridge event in Los Angeles, with the intent to have our first event in late March/early April.  Would appreciate getting the chapter added.  Thank you!

[2019-03-01 20:30] aelydens opened #626 "Austin RailsBridge chapter addition"
We're in the process of organizing a RailsBridge in Austin, TX for May 3 & 4, 2019. Can we get a RailsBridge Austin option added to the chapter dropdown on Bridge Troll? Thank you!

[2019-03-11 17:22] emmacunningham commented on #625
Hi there, just wanted to ping again about this.  We have a date and venue locked in, so would love to get the chapter added so we can create the event and get the word out.  Thanks again!

[2019-03-11 17:35] tjgrathwell commented on #625
Sorry for the delay! Here is the chapter: https://www.bridgetroll.org/chapters/121

[2019-03-11 17:35] #625 closed

[2019-03-11 17:35] tjgrathwell commented on #626
Sorry for the delay! Here's a chapter: https://www.bridgetroll.org/chapters/122

[2019-03-11 17:35] #626 closed

[2019-03-11 17:39] emmacunningham commented on #625
@tjgrathwell thank you so much!!  (and no need to apologize for the delay, appreciate the quick turnaround!!)

[2019-03-12 19:28] tremlab opened #629 "drafted emails not received by any recipients"
https://github.com/railsbridge/bridge_troll/issues/284

Possibly reopening the above issue, but -- after various tests I have not once been able to confirm any of my drafted emails has successfully been received by any of the addresses it was sent to.

I (and others) do certainly receive all of the auto-sent emails confirming the event, which is what has me a bit confused. 🤔

drafted from this pag

[2019-03-14 21:14] eduartua opened #630 "GoBridge Monterrey Mexico"
Please, help to add that chapter.

[2019-03-15 00:19] tjgrathwell commented on #630
here you go: https://www.bridgetroll.org/chapters/123

[2019-03-15 00:19] #630 closed

[2019-03-21 10:41] jr0cket opened #631 "Create ClojureBridge London specific course - student RSVP form changes"
We have different requirements in the RSVP form for students for the ClojureBridge London chapters.  I am willing to create the modifications and submit a pull request, once I figure out what is needed.

I am assuming we would need to create a new course on BridgeTroll, probably copying from the existing Clojure course and then making our modifications.

It would be useful to know that it is okay

[2019-03-21 12:35] jr0cket commented on #631
It would seem that the course definition does not cover most of the student RSVP layout, only the title, description and class experience.  I raised a PR to add a new to programming class level to the Clojure course
https://github.com/railsbridge/bridge_troll/pull/632

It is not clear to me if its possible to configure the rest of the student rsvp layout for a particular course.

Any help is appre

[2019-03-23 20:35] #616 closed

[2019-03-23 20:53] ultrasaurus commented on #623
this is a great idea!

[2019-03-24 05:37] gkunwar commented on #618
Since PR by @jhsu802701 has been merged. I have close this issue.

[2019-03-24 05:37] #618 closed

[2019-03-24 15:37] ultrasaurus commented on #624
I like the idea of generating an entity relationship diagram.  I wonder if this is something that is a bug in rails-erd and  ActiveHash...

IIRC, ActiveHash isn't actually stored in the database, but gets its data from a yaml, so it may be something not yet supported by rails-erd

[2019-03-24 15:49] ultrasaurus opened #633 "documentation for bridge_troll admins"
I can't seem to find any docs on how to do admin tasks.  I've been figuring things out by looking at the code!

[ ] create a chapter: https://www.bridgetroll.org/chapters/new
[ ] How to add a course? https://github.com/railsbridge/bridge_troll/issues/554

[2019-03-24 16:21] ultrasaurus commented on #633
chatting with @jr0cket
Maybe an admin menu?  if not in the header, maybe in the footer

[2019-03-24 17:15] ultrasaurus commented on #554
note for docs:  if someone removes a level, it doesn't actually get removed.  So, prolly better not to do that right now.

[2019-03-25 19:07] jhsu802701 commented on #623
My procedure for adding a code coverage badge is in my [Rails Neutrino site](https://www.railsneutrino.com/docs/chapter07).  I use Codecov because I found it easy to set up and use.  I used to use Code Climate for my code coverage badge, but it stopped working one day, and I couldn't figure out how to fix it.

[2019-03-26 12:34] jr0cket commented on #633
Is there a way to waitlist a student that signed up as male and has no plus one under-represented type?

Or is there a way to contact this student to remind them the event is not prioritising male genders?

It would seem that the only action we can do is to revoke their RSVP (and not sure if that includes an option to email them as to why their RSVP has been revoked).  I would rather not revoke th

[2019-03-30 15:34] rachelober commented on #633
hi, @jr0cket!

If you go into the organizer console, you should see a button that says "Email attendees"

![Fall_2018_Workshop_-_Bridge_Troll](https://user-images.githubusercontent.com/114306/55278174-4fb5a600-52df-11e9-8c19-bf5f7813d992.png)

Once there, click the "select Recipients" text field and a dropdown menu will appear with available attendees to select for recipients.

<img width="1280" a

[2019-03-30 15:55] ultrasaurus commented on #355
This seems to be addressed in "Show all Attendee RSVP Details" where you can see childcare requests in the list of all RSVPs (waitlisted or not)

![image](https://user-images.githubusercontent.com/41906/55278431-5a654080-52c9-11e9-8efc-786587fe0246.png)

[2019-03-30 15:55] #355 closed

[2019-03-30 16:23] ultrasaurus opened #635 "[feature request] change attendee status"
Sometimes we'll have someone sign-up who self-identifies as someone *not* from the target outreach group, and it seems like a reasonable tactic is to move them to the waitlist or ask them to volunteer if there is a need (e.g. come early and help with registration or stay late and cleanup)

In https://github.com/railsbridge/bridge_troll/issues/633, @jr0cket asks:
Q: Is there a way to waitlist a stu

[2019-03-30 16:30] ultrasaurus commented on #633
Q: Is there a way to waitlist a student that signed up as male and has no plus one under-represented type?

not right now, I wrote up a feature request, can you take a look?  https://github.com/railsbridge/bridge_troll/issues/635

[2019-03-30 16:32] ultrasaurus commented on #635
Also, this feature request seems somewhat related: https://github.com/railsbridge/bridge_troll/issues/456

[2019-03-30 17:02] ultrasaurus commented on #635
@rachelober we should look at this PR before working on this: https://github.com/railsbridge/bridge_troll/pull/481

[2019-03-30 20:05] jr0cket commented on #633
Thanks. I had assumed the email students was all of them, I should have looked closer.  Its a very nicely done feature.  Thanks again.

[2019-04-02 18:44] MaureenElsberry opened #636 "Add ScalaBridge Lausanne to chapters"
Organizing a ScalaBridge workshop in connection with Scala Days Lausanne. If you could add ScalaBridge Lausanne as a chapter so I can set-up registration that would be great. Thanks!

[2019-04-02 19:10] #636 closed

[2019-04-04 20:50] siruguri opened #637 "address bootstrap gem vulnerability"
CVE: https://nvd.nist.gov/vuln/detail/CVE-2019-10842

[2019-04-04 20:50] siruguri commented on #637
I am updating this locally, I can submit a PR shortly.

[2019-04-05 09:18] ultrasaurus commented on #637
merged & push to staging / production -- thank you!

[2019-04-05 09:18] #637 closed

[2019-04-09 04:39] siruguri opened #639 "Address Github-reported vulnerabilities"
Fixing actionview will require rails 5.2 which causes a lot of deprecations.

I am working on this now.

[2019-04-20 16:33] ultrasaurus commented on #633
Q: how do we export list of workshops for annual report
A: Bridge Troll global admins, can access URL: http://bridgetroll.org/events.csv

[2019-04-23 13:23] jr0cket commented on #633
Is there a way to set a session date to be UK format or to display the month in words?

For the UK, the date 5/11/2019 is read as 5th of November 2019 (and not 11th May) unless you know its in American (USA) format.  This has lead to a little confusion in sign-ups

Can the date format be localised, or perhaps just have the month in words if its simpler.

[2019-04-23 15:05] ultrasaurus opened #640 "session dates should make sense to people in UK (and elsewhere)"
via @jr0cket [comment](https://github.com/railsbridge/bridge_troll/issues/633#issuecomment-485800717)

I like the idea of displaying months in words -- should be an easy fix

[2019-04-26 13:16] btyy77c commented on #639
Are you referring to this issue?
https://weblog.rubyonrails.org/2019/3/13/Rails-4-2-5-1-5-1-6-2-have-been-released/

Rails released 5.0.7.2 for the security fix.  I think it's best to upgrade to 5.2 (or 6.0), but a quick fix would be to upgrade to 5.0.7.2

I already put in a similar pull request for a RailsBridge fix (https://github.com/railsbridge/railsbridge_dot_org/pulls)

[2019-04-26 19:26] siruguri commented on #639
Thanks for pointing it out. I should have time to merge yours ahead of
getting to a full 5.2.2 merge.

Sameer (typed on a phone, please excuse typos.)

On Fri, Apr 26, 2019, 6:16 AM Emily Ring <notifications@github.com> wrote:

[2019-04-28 18:15] siruguri opened #641 "Bump to Ruby 2.6.3"
I am going to merge a PR shortly that addresses this.

[2019-04-29 21:58] ilen opened #643 "Volunteer/Attendee count incorrectly displayed as zero"
Steps to reproduce:
1) Go to: https://www.bridgetroll.org/events/441
2) Note presence of attendee and volunteer lists.

RESULT: Attendee and volunteer count is zero
EXPECTED: Attendee and volunteer count should match list displayed

(Count is also zero on export of workshop data as csv)

[2019-04-29 22:32] siruguri commented on #643
The code doesn't match the expectation above - it shows number of attendees who have checkins in the DB, if the event is in the past.

Did this event not do check-ins? Or are you expecting past events to not use the check-ins count filter?

[2019-04-29 22:56] ilen commented on #643
No idea whether the event had check ins; I'm trying to get participation totals for the annual report and was not involved in the event.

I think it would make sense to assume that if an event is in the past, the best count of attendees is whoever was registered.

Here is the list of all workshops in a similar state in case it's helpful:

https://www.bridgetroll.org/events/433
https://www.bridgetr

[2019-05-01 11:05] rachelober commented on #643
This is an interesting situation to be in. The idea behind the check-ins is to record as accurately as possible who are being served by our free workshops. If we aren't accurately checking-in people it is actually doing us a disservice whenever we pull reports to try and make a case for our efficacy to potential donors.

Additionally, having zero people pulled now after an event that happened in t

[2019-05-01 12:43] btyy77c opened #644 "Unable to receive response from BridgeTroll Admins"
I submitted and event for approval on April 18th:
https://www.bridgetroll.org/events/472

I got an email stating I would hear back from an Admin in a few days.  I never heard back from the initial submission.  I also sent two different follow-up emails that I never received any response to.

Does anyone have a contact I can reach out to, or another way to get an event approved?

Thanks!

[2019-05-01 19:13] ilen commented on #643
To export the workshop stats csv, Bridge Troll global admins, can access
URL: http://bridgetroll.org/events.csv

The column in question is the "attended" column which appears to be the sum
of the checked in volunteers and students. We're using this number to
provide updates to donors on the impact of the workshops.

So maybe another solution is to change just the csv to ignore the "checked
in" sta

[2019-05-01 19:26] siruguri commented on #641
Travis has issues with Ruby 2.6.3 builds - I have asked a question on SO about this too:

https://stackoverflow.com/questions/55941411/travis-builds-on-ruby-2-6-3-have-bundler-version-mismatch

Meanwhile, I'll revert to 2.5.3

[2019-05-01 20:17] siruguri commented on #639
@btyy77c  I couldn't quite merge your commits, because they are based on what looks like a very outdated commit history. I couldn't find an adequately recent parent commit to rebase on so I am essentially merging in your surgical update to Rails, plus the recommended update to Devise.

[2019-05-01 20:29] #639 closed

[2019-05-02 00:04] siruguri commented on #644
@btyy77c can you message me at cheapkettle at gmail, and I'll cc you with a couple of others who might have admin approval privileges?

[2019-05-02 17:18] btyy77c commented on #644
Thanks!!!

[2019-05-02 17:19] #644 closed

[2019-05-05 03:12] ultrasaurus opened #649 "UI to manage bridge troll admins"
creating a UI for this is much lower priority that other things, since we should have very few global admins (and we really need better docs, before making it easy to add admins!)

right now, we can create admins via making changes to the production database on the console (eek!)

[code]

[2019-05-07 02:19] careful-with-that-axe opened #651 "Replace deprecated devise_error_messages! with partial"
Currently our tests are upset about deprecated `devise_error_messages!` which should be replaced with a devise generated partial per the deprecation warning. I have a fix for this now and will submit a pr soon.

[2019-06-01 18:58] ultrasaurus opened #652 "Ruby Sass is deprecated"
`bundle install` yields this warning

[code]

[2019-06-09 14:52] ultrasaurus opened #653 "video about how to use the app for organizing"

[2019-06-09 15:16] careful-with-that-axe commented on #651
PR: https://github.com/railsbridge/bridge_troll/pull/654

[2019-06-09 15:25] careful-with-that-axe commented on #535
@domlet Hello! I hope you are wonderful and send hugs. I got your branch and fixed something that was causing a test failure and then added a past event seed and more testing so your code will be ready to go soon.

You can see what went down here https://github.com/railsbridge/bridge_troll/pull/655 and definitely ping me if you see anything concerning but seemed like all is great and looking forwa

[2019-06-10 03:27] careful-with-that-axe commented on #651
Closed with https://github.com/railsbridge/bridge_troll/pull/654

[2019-06-10 03:27] #651 closed

[2019-06-10 03:28] careful-with-that-axe commented on #535
Closed with https://github.com/railsbridge/bridge_troll/pull/655

[2019-06-10 03:28] #535 closed

[2019-06-12 03:39] careful-with-that-axe commented on #652
@ultrasaurus! So sorry! I had a branch I was working on but thought there might be something up with the seeds so I checked out master and then forgot and committed my fix right there. Possibly we can restrict merging directly to master? Totally my bad though I was super surprised when it went through - will be much more careful in future!

Any rate, `sass-rails` is now upgraded to `sassc-rails` p

[2019-06-12 03:39] #652 closed

[2019-07-01 22:40] nerual opened #656 "new contributor onboarding for @nerual"
Hello! I'm @nerual and I'd like to get started contributing to the Bridge Troll project. I had a chat with @rachelober and we discussed a few things, including how to best keep our efforts transparent and available to the wider community, and also how to get new people started with the most support possible. I'm going to drop a checklist below that I think gathers all the steps a newb could do to

[2019-07-01 22:42] nerual commented on #656
First comment: dear @rachelober I can't assign myself, or you, or anyone to this issue. Please do the needful! 🙇‍♀

We might also want to consider making a 🏷(label) for these, so they're easy to filter in/out when people are looking at the issues in this repo.

[2019-07-02 18:19] ultrasaurus opened #657 "contributor on-boarding template"
love what @nerual did with a github issue for new contributor on-boarding https://github.com/railsbridge/bridge_troll/issues/656

it would be neat to have this as one of a few issue templates
- bug
- suggestion
- new contributor

[2019-07-02 19:28] ultrasaurus opened #658 "Error: No available formula with the name "phantomjs""
when running the setup script, it suggests that I install phantomjs with an incorrect command syntax:

[code]

I found the answer here:
https://github.com/Khan/khan-dotfiles/issues/16

the following command worked for me
[code]

[2019-07-03 21:42] nerual commented on #657
i think it should be easy to crib the bug template from one of the million other repos that have one!

[2019-07-03 22:18] nerual commented on #656
When I ran `bin/setup` I got this error:
[code]

(I then obviously did that, I'm just recording this as things that went differently than the documentation says.)

[2019-07-03 22:33] nerual commented on #656
This test fails after finishing `bin/setup` and running `bundle exec rake`
[code]

[2019-07-03 22:35] nerual commented on #658
PS When you get it right, it gives you a warning phantomjs is no longer supported and may not work properly on later versions of OSX!

[2019-07-03 22:37] nerual commented on #657
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

[code]

[2019-07-03 22:39] nerual commented on #656
Soooo @rachelober there are no "Beginner Friendly" Issues, and I don't really see anything that sticks out as simple in the list... 😞

[2019-07-04 00:47] rachelober commented on #656
Hey, @nerual thanks for all this! And ack about not having beginner-friendly tickets. As tomorrow is a holiday, I am going to take a look on Friday and see if I can suss out something that would be appropriate for you. If it's multi-step or maybe needs explaining for a Ruby newbie, maybe we can set up a time to pair program?

[2019-07-04 00:54] ultrasaurus commented on #658
oh, I didn't notice that -- @siruguri are you keeping up with the latest JS testing drivers?

[2019-07-04 02:33] ultrasaurus commented on #656
I think @rachelober said @nerual is an experienced coder who is new to Rails (or maybe just new to this app?)   If so, I think this one might be a good starter: https://github.com/railsbridge/bridge_troll/issues/624

[2019-07-04 16:25] nerual commented on #624
I got this working. First I checked to see if PDF output works:

- Following the README for rails-erd I first installed Graphviz with `brew install graphviz`
- I added the following lines to my Gemfile in `group :development do`:
[code]
- Then I ran `bundle install`, `bundle exec rails-erd` and it generated a pdf file. I did get warnings similar to those above, but it completed successfully.

[erd

[2019-07-04 16:34] nerual commented on #656
I'm experienced with computer (more operational/sysadmin/network) things. I'd rate my programming skills at 3/10 on a good day, and I'm new to Ruby, Rails, and this app! That said, I'm happy to roll up my sleeves and poke at things. 🏋️‍♀️

[2019-07-05 05:28] jhsu802701 commented on #624
Build the functionality into the project, but keep the outputs out of the source code in the interest of keeping the code base small.

[2019-07-05 16:30] deniseyu opened #660 "Please add Toronto as chapter"
Hi! We're looking to host GoBridge in September. We don't have an official Toronto chapter for any Bridges yet it looks like... so I guess we'll be the first to kick it off!

[2019-07-05 18:04] siruguri commented on #658
oh, glad to be useful, possibly. We stopped using phantomjs at our startup a while ago and are currently with this setup which is not quite the latest version set. I recently tried upgrading it and ran into some deprecations so I haven't gotten around to wrapping that up but these versions aren't more than a year behind:

[code]

and then `headless_firefox` in the `spec_helper` file

[code]

This

[2019-07-18 16:50] rachelober commented on #660
Hi, @deniseyu! I have created GoBridge Toronto for you. You should be able to start selecting it and can see the main chapter page here https://www.bridgetroll.org/chapters/129

For Bridge Troll admins, I have added directions for how to create new chapters to the docs. https://github.com/railsbridge/bridge_troll/blob/master/doc/admin.md

[2019-07-18 16:50] #660 closed

[2019-07-18 17:25] nerual opened #661 "All Travis CI builds failing"
Any sort of change (documentation, etc) is failing in Travis with similar errors:
[code]

[2019-07-18 17:46] rachelober commented on #661
We believe this is the issue and mentions a fix.
https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html

[2019-07-18 19:00] nerual commented on #657
This is completed with PR #659

[2019-07-18 19:00] #657 closed

[2019-07-18 19:01] nerual commented on #661
Rachel fixed this in #662. closing!

[2019-07-18 19:01] #661 closed

[2019-07-18 19:14] nerual commented on #624
Can you describe in greater detail how you envision that working? Do we install Graphviz as a requirement of the project and include a wrapper script that executes that command, and some documentation explaining to open the resulting jpg?

[2019-07-25 04:06] heathermiller opened #663 "Can you add a "ScalaBridge Pittsburgh" chapter?"
Hi,

I moved to Pittsburgh! I'd like to set up a ScalaBridge Pittsburgh chapter here. Can you create a ScalaBridge Pittsburgh chapter for us on Bridge Troll so we can be indexed?

Thank you!

Cheers,
Heather

[2019-08-01 14:04] GerretS opened #664 "Please add a ScalaBridge Amsterdam chapter"
We are a new chapter organizing our first workshop.

It would be nice if this ticket could be processed quickly so we can put the invite live ASAP.

[2019-08-01 17:01] nerual commented on #656
Looks like I completed my checklist! I'm officially "onboarded"! 🎉

[2019-08-01 17:01] #656 closed

[2019-08-01 17:01] nmcb opened #665 "Add "Introduction Programming with Scala" as course being offered."
The introduction Scala curriculum for bridge events has been made to fit non-programmers as well as those that have already a bit of experience in some other programming language. To reflect this we would like to add the text "Introduction Programming with Scala" as one of the possible courses when organising an event as the current available Scala course "Scala for Programmers" might give attende

[2019-08-01 17:06] siruguri commented on #664
I created one just now - sorry about the delay. I take it @GerretS the creator of #663 is part of your vols team?

[2019-08-01 17:12] siruguri commented on #665
It appears that at least one past event organizer had an event that did require some programming experience, so (for the record) I will create a new course, rather than overwrite that one.

To keep with a dominant existing naming pattern, would you be okay with "Learn to code with Scala"?

[2019-08-01 17:19] nmcb commented on #665
Absolutely, "Learn to code with Scala" fits perfectly.

[2019-08-01 17:23] rachelober commented on #624
After discussing with @nerual, we were not sure of the benefits of including this feature in the project without extensive training on how to use it and for what instances. It seems like this feature request is an individual preference rather than in the scope of the needs of the Bridge Troll project. In the interest of keeping the `development` gemset lean, we would prefer not to include this if

[2019-08-01 17:25] GerretS commented on #664
@siruguri no, I'm afraid I don't know her. ScalaBridge Amsterdam is organized by me and the creator of #665 .

[2019-08-01 17:26] siruguri commented on #664
For reasons I cannot comprehend, my brain decided Amsterdam == Pittsburgh
:( I will now create 'ScalaBridge Amsterdam'

On Thu, Aug 1, 2019 at 10:25 AM Gerret Sanders <notifications@github.com>
wrote:

[2019-08-01 17:29] siruguri commented on #663
k, done. I just created it about fifteen minutes.

[2019-08-01 17:29] #663 closed

[2019-08-01 17:32] siruguri commented on #664
k done now.
![Screen Shot 2019-07-31 at 9 51 26 PM](https://user-images.githubusercontent.com/40653/62314327-98c16680-b447-11e9-84e4-48c31d5b5fc5.png)

[2019-08-01 17:32] #664 closed

[2019-08-01 17:33] siruguri commented on #663
![Screen Shot 2019-08-01 at 10 33 10 AM](https://user-images.githubusercontent.com/40653/62314415-c8706e80-b447-11e9-8d82-271ba94c2849.png)

[2019-08-01 17:40] siruguri commented on #665
sorry, I realized I needed a description. The one for the Scala for programmers course is 'This is a Scala programming event. Some programming knowledge expected, but you don't yet know Scala.'

The one for Ruby on Rails for example is, 'This is a Ruby on Rails event. The focus will be on developing web apps and programming in Ruby.  You can find all the curriculum materials at <a href=\"http://do

[2019-08-01 17:49] nmcb commented on #665
Yup, that's the ScalaBridge site, we're in the process of setting it up.

How about "This is a Scala event. At the end of the day, you have learned to code and create a couple of fun applications in Scala yourself " ?

[2019-08-01 17:59] #665 closed

[2019-08-01 17:59] siruguri commented on #665
Ok, done

On Thu, Aug 1, 2019 at 10:49 AM nmc.borst <notifications@github.com> wrote:

[2019-08-02 06:00] nmcb commented on #665
Thanks, Sameer, closed within an hour after I created the issue ... impressive.

[2019-08-04 17:18] GerretS opened #668 "Any idea why the Google Maps embed won't show the correct location?"
On my newly created event, the embedded map seems to focus on coordinates 0,0

https://www.bridgetroll.org/events/486

Note that if I click on the address on the left, it opens Google Maps to the correct location.

![image](https://user-images.githubusercontent.com/27868686/62427007-93387a80-b6ec-11e9-866c-57b5052c6174.png)

[2019-08-06 10:18] btyy77c commented on #629
I just tried to send myself a test email. I wanted to check and make sure it worked before sending an email to volunteers.  It appears to be broken for me as well.

[2019-08-08 13:29] michaelglass commented on #629
The last email I received from Bridgetroll was in June. BridgeTroll uses SendGrid. @tremlab let's pair on it whenever you get a chance.

[2019-08-08 14:50] nmcb opened #669 "Class level can't be blank"
We have a live issue on https://www.bridgetroll.org/events/486/rsvps/new/learn that prohibits students to RSVP, some error returning class level is a mandatory field, but the field itself is not visible on the site's registration form.

<img width="663" alt="Screenshot 2019-08-08 16 41 51" src="https://user-images.githubusercontent.com/1698211/62713172-94272000-b9fc-11e9-8e0e-b81e22c36026.png">

A

[2019-08-08 14:54] nmcb commented on #669
May be related to #582

[2019-08-08 17:53] #669 closed

[2019-08-08 19:27] adelbertc opened #671 "Please add a "ScalaBridge Silcion Valley" chapter"
Hello,

We are looking to start a Silicon Valley chapter of ScalaBridge and were instructed on the BridgeTroll website to create an issue to have it indexed.

Thanks!
-Adelbert

[2019-08-08 19:45] nmcb commented on #671
I would suggest to call it the San Fransisco chapter.

(Sorry, Adelbert -- Huge admire of your work, and as far as I'm concerned you are worth every penny of your hourly rate: but looking at this globally, I think that the names of chapters should be named after capitals because of their global recognition).

[2019-08-08 20:15] adelbertc commented on #671
@nmcb We purposefully did not call it San Francisco because San Francisco is a bit ways away from the South Bay where we plan on holding future events. From there our options sort of become limited to Bay Area, Silicon Valley, or South Bay. There is not a particular major city in the South Bay Area that can be considered representative.

I also think Silicon Valley has enough global recognition to

[2019-08-08 20:24] xingyif commented on #671
Agree with @adelbertc SV is more recognized globally and it is unambiguous enough that we will be able to have ScalaBridge in both the south bay and SF under that name.

[2019-08-08 20:35] nmcb commented on #671
I agree with the recognition, but in that case could argue that a The Netherlands chapter would be a good name for the current Amsterdam chapter, because even though Amsterdam has perhaps a better name recognition among programmers than the Netherlands, for varying reasons, it would claim a larger part of the globe in association with the goals of diversity and inclusion for the Scala community.

[2019-08-08 21:07] GerretS commented on #671
As organizer of ScalaBridge Amsterdam, let me be clear here.

I had no specific preference whether our chapter chould be called 'Amsterdam' or 'The Netherlands'. @nmcb preferred Amsterdam and had some well-considered reasoning behind this so I decided to go with it without further decision as I had no clear preference.

I feel all ScalaBridge chapters are connected through two things that *really*

[2019-08-08 21:16] nmcb commented on #671
Argued from the other side of the line I couldn't have written that better myself, still, it is worth noting though, that diversity is intrinsically breeds separation of common traits and thus acts against inclusion. It always does, when acting in the small. This time it did to the inclusion of a shared naming scheme, thus breaking with global standardised names. I'm against the name for the reaso

[2019-08-08 21:23] nmcb commented on #671
(As a closing side note for this working day: I'm not often on github issue tracker, but the comment section really does not contain emoji's sensitive enough to deal with issues of a sensitive nature).

[2019-08-08 21:26] adelbertc commented on #671
@nmcb Thank you for your input, you definitely bring up some points to think about, particularly about the balance between precision of location vs. accessibility and the associations a name like "Silicon Valley" may have.

After some thinking we have decided to stick with ScalaBridge Silicon Valley, at least in the interim. We believe it is unambiguous enough to localize the region events will be

[2019-08-08 21:31] nmcb commented on #671
Feels as a very balanced decision to me, happy to have had this dialogue.

[2019-08-08 21:33] GerretS commented on #671
@adelbertc That other issue you found is interesting. When we were adding the event to the site, we had to make both a chapter (done via Github issue) and a region (through the website). This felt like unnecessary bureaucracy but seeing there was a large discussion about it I can understand how this came to be.

I guess it would feel less bureaucratic if chapter entities could be managed via the w

[2019-08-12 13:09] btyy77c commented on #629
Updated info:  My yahoo account will not send emails.  A different gmail account will send emails.

[2019-08-12 13:36] michaelglass commented on #629
won't receive emails?

[2019-08-12 15:02] btyy77c commented on #629
In production, I attempted to send emails for this event:
https://www.bridgetroll.org/events/472

I attempted to send 1 test email to a "test volunteer" I setup . The email was never received by the "test volunteer". I posted the comment from 6 days ago, letting you know emails were not working in production.

Another event organizer sent a test email to all volunteers.  Their test email was succe

[2019-08-12 15:07] michaelglass commented on #629
Got it!

I think this clarifies what's wrong. Bridgetroll isn't actually sending it _from_ your account, but from its sendgrid account, masquerading as your account. It wouldn't surprise me if that masquerading is having some emails dropped.

[2019-08-12 15:19] btyy77c commented on #629
Preferably, it would be nice to be able to view the student/volunteer email addresses and send emails outside of the RailsBridge system.

It looks like the ability to view emails was removed previously (https://github.com/railsbridge/bridge_troll/issues/437) so I'm not sure that's an option :(

It's very difficult to plan an event when communication is so difficult.

There is no confirmation that

[2019-08-12 15:28] michaelglass commented on #629
I'm sorry you've been so frustrated with that functionality. There are a lot of advantages to using bridge troll, but it's also an open source project run by volunteers, so life stuff often takes priority over fixing bugs, especially those that are hard to reproduce.

@tremlab and I will try to get a fix out tonight. We'll see how much success we have!

[2019-08-12 16:22] tremlab commented on #629
Confirming my (failing) emails are also coming from a yahoo login. Thanks for catching that detail!

[2019-08-13 13:40] michaelglass commented on #629
@tremlab / @btyy77c pushed a fix. Can y'all try again?

[2019-08-13 14:55] #641 closed

[2019-08-13 16:24] michaelglass commented on #658
this looks like it was resolved in https://github.com/railsbridge/bridge_troll/pull/620, can we close this?

[2019-08-13 16:25] michaelglass commented on #629
fixed! yay

[2019-08-13 16:25] #629 closed

[2019-08-13 16:37] #623 closed

[2019-08-13 16:44] michaelglass commented on #622
I can't reproduce this ... can you post more of the backtrace?

[2019-08-13 17:02] michaelglass commented on #615
I added a dependabot integration that will automatically open PRs against new gem versions to help automate some of this work

[2019-08-13 18:02] tremlab commented on #629
with the fix deployed, I was able to send emails to my volunteers, even from my yahoo login.

This is going to make it so much easier to organize the next event! Thanks you so much for the help here.  ❤️

[2019-08-15 08:06] michaelglass commented on #587
I'm not sure how hsts works with our `allow_insecure` routes. Thoughts?

[2019-08-15 08:20] michaelglass commented on #587
The header doesn't affect anything badly, but I'm worried about forcing SSL on `allow_insecure` pages. What will happen without redirection if the browser thinks it should be ssl?

[2019-08-15 13:56] #615 closed

[2019-08-15 17:25] siruguri commented on #587
I thought the role of `allow_insecure` is to not generate the redirect to SSL (443) for connections to 80 - that's how I read the code. Enabling HSTS means browsers will not in fact take advantage of this allowance in one of our routes, but that doesn't require us to remove the allowance for the headers to work. Did I not understand this correctly?

[2019-08-15 17:30] michaelglass commented on #587
My question is: if browsers don't use http, will we break something?

[2019-08-15 18:22] lgarron commented on #587
The site already supports HTTPS, so this shouldn't break any site that can already access that.

Sending anything but redirects over HTTP in 2019 is not great, although I understand it can be hard to address legacy integrations. One option is to serve redirect/HTTPS/preload HSTS for the important pages in modern clients, but not redirect some of the other paths.

[2019-08-15 19:02] siruguri commented on #587
there's a staging server I can push a branch to, that we can check on... is it hsts_part_deux that I should push?

[2019-08-16 14:04] michaelglass commented on #587
I'm also fine trying it out and fixing anything we accidentally break :p

[2019-08-17 21:04] siruguri opened #707 "Event target audience is required in form but not shown on event-show page"
The organizer of a recent event didn't write in the target audience description in the description because she thought, quite reasonably IMO, that because the form has a textbox specifically for that field, she didn't need to say it again anywhere else.

Should we simply display that field as a section on the show page?

[2019-08-19 14:39] michaelglass commented on #707
My understanding of that box is a reminder to organizers that bridge-troll isn't a generic meetup tool but is intended for usage with a target audience.

[2019-08-21 17:39] xingyif commented on #671
@siruguri Please take a look. Thank you!

[2019-08-23 04:31] siruguri commented on #671
thanks for bumping it up @xingyif - I added the chapter - can you create an event now?

[2019-08-23 04:36] adelbertc commented on #671
Looks like it worked - thanks @siruguri !

<img width="758" alt="Screen Shot 2019-08-22 at 9 35 44 PM" src="https://user-images.githubusercontent.com/1332980/63567124-d5532000-c524-11e9-9e79-c517986d1d38.png">

[2019-08-23 16:45] #671 closed

[2019-08-26 22:11] MaureenElsberry opened #719 "Add ScalaBridge Spain chapter"
We're planning on organizing ScalaBridge events in Spain. The first will be October 16th so hoping we can get this moving soon.

Thanks!

[2019-08-28 16:48] #719 closed, assigned to nobody

[2019-09-03 00:24] deniseyu opened #726 "Accidentally deleted myself as the organiser.."
Hi!

I'm trying to manually remove RSVPs from the BridgeTroll site because we're managing RSVPs off platform and it's confusing.

I accidentally removed myself and now can't access the organiser console anymore. In the short term, could someone restore me as the admin for the Toronto GoBridge event? (https://www.bridgetroll.org/events/483)

And in the longer term, it might be a good idea to remove

[2019-09-03 04:44] siruguri commented on #726
![Screen Shot 2019-09-02 at 9 43 51 PM](https://user-images.githubusercontent.com/40653/64144742-ca24ad80-cdca-11e9-99db-2757b9c7a5aa.png)

@deniseyu  can you confirm you have what you need?

[2019-09-04 03:13] deniseyu commented on #726
@siruguri thank you for the fast response! All good now 🙏

[2019-09-04 19:02] #726 closed

[2019-09-30 20:11] adelbertc opened #757 "Need approval for ScalaBridge Silicon Valley event"
Hello,

We've created a BridgeTroll page for ScalaBridge Silicon Valley event that has been pending for a while now, wondering if anyone could take a look please?  cc @siruguri ?

Thanks!

[2019-09-30 20:28] samdvr commented on #757
Link to this [event](https://www.bridgetroll.org/events/492).

[2019-09-30 20:29] adelbertc commented on #757
Hah oops yes, I forgot to link to it!

[2019-10-01 04:02] ultrasaurus commented on #757
Hi!  Sorry for the delay... I sent email with some feedback on the text.  (We need to expand admin/reviewer peoples.... will look into that separately)

[2019-10-01 04:02] #757 closed

[2019-10-01 04:11] ultrasaurus commented on #707
This happened with another event I just reviewed.  The organizer form looks like this:

![image](https://user-images.githubusercontent.com/41906/65933424-47414380-e3c6-11e9-85f1-be3291745de3.png)

I agree with @siruguri that it could be helpful to automatically display some text at the top of the page that would say something like:

"<whatever is in the text field> are encouraged to participate."

[2019-10-01 04:21] siruguri commented on #757
@ultrasaurus could you post a summary of the fdbk? I too looked at it today and couldn't immed approve because I was confused by the language, whether it was a 1 day or a 12 week event. Is that what you noted?

[2019-10-03 23:18] nerual commented on #668
Here's the error message from the browser console:

`js?key=AIzaSyAgKf99_jIqJFKdEEllWFZx5xerCzmdMdY&v=3.35&sensor=false&libraries=geometry:74 InvalidValueError: setCenter: not a LatLng or LatLngLiteral with finite coordinates: in property lat: NaN is not an accepted value`

[2019-10-09 18:49] fmoko opened #788 "New chapter: RustBridge Berlin"
Not sure what the process is here, but I run the RustBridge program and we've switched over to a chapter structure recently, with our first one being here in Berlin!

[2019-10-10 12:49] michaelglass commented on #658
we've moved away from phantomjs altogether. Closing

[2019-10-10 12:49] michaelglass commented on #668
This is a problem for non-us addresses. I'll look into it

[2019-10-10 13:09] michaelglass commented on #668
... if you manually assign latitude / longitude, I think it's fixed. I just fixed it for NextJournal https://www.bridgetroll.org/events/493

[2019-10-11 07:28] GerretS commented on #668
@michaelglass Where did you assign this data ? I don't see any options on the event edit page and also nothing on the location edit page.

[2019-10-11 10:45] michaelglass commented on #668
I did it ... via the rails console!

I guess the next step is add a UI for updating / setting lat / long on models.

[2019-10-11 10:55] michaelglass commented on #668
I manually updated your location though.

[2019-10-11 10:57] michaelglass opened #791 "when geocoding fails, provide alternate way to add lat/long to event locations"
related: https://github.com/railsbridge/bridge_troll/issues/668

right now, we try to automatically geocode addresses, but when that geocoding fails, there's no interface for manually setting lat/long.

I recently went through and manually set location information on about 15 locations, but that's not the best / sustainable solution

[2019-10-11 10:57] michaelglass commented on #668
moved to #791

[2019-10-11 10:57] #668 closed

[2019-10-11 11:07] michaelglass commented on #668
fwiw, I updated the addresses of these locations

[https://www.bridgetroll.org/locations/210](Harbr Co.)
[https://www.bridgetroll.org/locations/239](The Mothership)
[https://www.bridgetroll.org/locations/298](47 Degrees HQ)
[https://www.bridgetroll.org/locations/313](WeWork)
[https://www.bridgetroll.org/locations/316](EPFL)
[https://www.bridgetroll.org/locations/334](Interdata Laboratories Inc.)
[

[2019-10-12 14:35] #587 closed

[2019-10-12 14:36] michaelglass commented on #587
done!

[2019-10-12 14:37] #617 closed

[2019-10-12 14:38] michaelglass commented on #598
There's currently a chapter called "Bridge Foundry Virtual" If that's not enough, please re-open! thanks

[2019-10-12 14:38] #598 closed

[2019-10-12 17:15] siruguri commented on #788
Someone with production console access just needs to create a chapter
record associated to that organization. I should be able to get to it
tonight.

Sameer (typed on a phone, please excuse typos.)

On Wed, Oct 9, 2019, 11:49 AM marisa <notifications@github.com> wrote:

[2019-10-12 17:46] ultrasaurus commented on #791
This seems like a great issue for anyone to dive in and suggest where to put this UI -- would be great to have input from new and experienced users of Bridge Troll!

[2019-10-12 17:57] ultrasaurus opened #792 "flakey test? intermittent "false positive" failures on travis-ci"
example: https://travis-ci.org/railsbridge/bridge_troll/jobs/596522198

Many errors like stacktrace below:

[code]

[2019-10-12 18:42] ultrasaurus commented on #788
actually, it can be done in the UI by a BridgeTroll admin (just a hidden URL) -- it's our list of things that need to be documented: https://github.com/railsbridge/bridge_troll/issues/633

I'll take care of that now

[2019-10-12 18:47] ultrasaurus commented on #788
https://www.bridgetroll.org/chapters/134 -- created!

It would be great to establish one or more leaders for the RustBridge community in Berlin -- all that needs is a bit of on-boarding (both cuz our admin UI needs a bit of work and to talk about code-of-conduct and whatnot).    Now you can post events and folks from other regions/bridges can approve, so closing this issue as resolved.

[2019-10-12 18:47] #788 closed

[2019-10-14 07:38] michaelglass commented on #792
I believe what's happening here is chromedriver is intermittently failing to start.

[2019-10-14 11:53] ultrasaurus commented on #792
https://travis-ci.org/railsbridge/bridge_troll/jobs/597508944 (from https://github.com/railsbridge/bridge_troll/pull/793)
[code]

[2019-10-19 07:16] michaelglass opened #796 "account profile can be private"
some attendees have showed up without registering because they feel uncomfortable having a public profile or having their names shared

[2019-10-19 08:36] siruguri commented on #796
Is the idea that the attendee is willing to share this information with organizers only, just not have it displayed publicly? I think that makes sense -- it could be a toggle on the profile page to start with.

[2019-10-19 21:11] ultrasaurus commented on #796
agree that it would be a good idea to allow attendees to be anonymous, or maybe a screen name, then they would have a unique identifier for if organizer wanted to display for sorting.

We don't really need their real names at all... just some way for them to identify themselves at registration.   Once simple fix would be to add text that name can be pseudonomous. Also, we really shouldn't require

[2019-10-19 21:15] ultrasaurus commented on #796
maybe something like this

![image](https://user-images.githubusercontent.com/41906/67151420-de3d4500-f27a-11e9-9d70-e72329726208.png)

[2019-12-19 14:11] jr0cket commented on #791
@michaelglass is it possible to update the latitude and longitude for the location called SignalAI in the UK, the map on the event page is very misleading.

The correct location values according to Google maps are
51°31'38.4"N 0°05'17.6"W
51.527325, -0.088209

The location is:
https://www.bridgetroll.org/locations/309

We have just published a new ClojureBridge London event and the map on the page

[2019-12-20 12:56] michaelglass commented on #791
@jr0cket done. AFAIK I don't think there's an option to hide the map.

[2019-12-30 15:48] michaelglass commented on #792
this seems to have resolved itself with a chromedriver upgrade to 76

[2019-12-30 15:48] #792 closed

[2019-12-30 15:49] #622 closed

[2020-03-01 00:49] ThatJohn opened #909 "Setup fails"
Trying to get this to run, getting an error while running bin/setup:

[code]
EDIT: Upor further investigation, it seems there's something wrong with the way the course_populator seed file reads the yaml file.

[2020-03-01 02:44] ThatJohn commented on #909
Just fixed it by temporarily hardcodind the path to my YAML file in /db/seeds/course_populator.rb:
[code]
Still have to find a way to generate dynamically, but I can't right now due to extreme time constrain.

[2020-03-01 02:44] #909 closed

[2020-03-07 10:24] siruguri opened #917 "Google Maps API on bridgetroll.org requires billing information"
It seems like bridgetroll.org is facing this issue:

https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=billing#api-key-and-billing-errors

[2020-03-30 21:27] devraj-kumar commented on #909
The issue has been resolved now

[2020-04-01 10:10] Digvijay091 opened #937 "Code issue"
Hello everyone ....
please explain this code:  for i in range(0, len(nums)-1):  in  use in below
 def num_66(nums):
    for i in range(0, len(nums)-1):
            if nums[i:i+2] == [6,6]:
            return True

    return False

[2020-04-01 13:18] tayebassel-python opened #939 "PIP"
i m  working with wing-personal7 ide with python 3.8 on Linux and  i have downloaded the mysql-connector package and other pip but when i import them on the code i get a problem it says that the module doesn t exist can u tell me what s the problem plz
------------

[2020-04-01 15:16] playerpost32 commented on #937
Not in range

[2020-04-02 01:56] dojayona opened #940 "Is there a way to waitlist a student that signed up as male and has no plus one under-represented type?"
Is there a way to waitlist a student that signed up as male and has no plus one under-represented type?

Or is there a way to contact this student to remind them the event is not prioritising male genders?

It would seem that the only action we can do is to revoke their RSVP (and not sure if that includes an option to email them as to why their RSVP has been revoked).  I would rather not revoke th

[2020-06-17 14:57] mechamanny opened #989 "Looking to cancel upcoming event"
Hello!

The Railsbridge Triangle organizers team would like to cancel the upcoming Railsbridge event, https://www.bridgetroll.org/events/505

We have emailed participants, I didn't see a way of doing this in the Organizer console, is it possible for someone to cancel this?

Thank you!

[2020-08-02 10:26] michaelglass commented on #989
@mechamanny sorry about the late response. I see you figured out a workaround. This is something that doesn't exist yet but we should add.

[2020-08-02 10:26] #989 closed

[2020-08-02 10:27] michaelglass commented on #572
requests
- https://github.com/railsbridge/bridge_troll/issues/989
- https://github.com/railsbridge/bridge_troll/issues/571
- https://github.com/railsbridge/bridge_troll/issues/569
- https://github.com/railsbridge/bridge_troll/issues/570

[2020-10-22 12:53] michaelglass commented on #939
I don't think this is related to bridge troll. We don't have any python stuff.

[2020-10-22 12:53] #939 closed

[2020-10-22 12:55] michaelglass commented on #937
this is off topic for this issue. Why did you think this was a good place to post?

[2020-10-22 12:55] #937 closed

[2021-06-15 14:21] nmcb opened #1208 "ScalaBridge Amsterdam"
Hi, we're in the process of organising our second "ScalaBridge Amsterdam" event.

(last one was in 2019)

But noticed that the Amsterdam chapter is not available in the event organising drop-down.

Could the chapter be added please?

[2021-06-15 14:22] nmcb commented on #1208
obsolete, my mistake..

[2021-06-15 14:22] #1208 closed

[2022-06-14 13:02] mdave16 opened #1251 "Generic Error when trying to create events"
I tried to create an event, (clojurebridge2022), and was faced with the following generic error when trying to create it
[code]

The event is created, so the failure step is happening after event being saved to db.

Browser: firefox

[2022-08-27 17:53] mccollek commented on #1251
Same in Chrome; I think the mail provider account is broken .  If after registration you return, it tells you you haven't confirmed the account.  When you ask to resend confirmation, you get the same error.

[2022-11-21 22:38] mxie opened #1270 "Find replacement gem for backbone-on-rails"
The original gem [was yanked](https://rubygems.org/search?query=backbone-on-rails&yanked=true) and [the source code is also no longer maintained](https://github.com/meleyal/backbone-on-rails). We'll need to find a replacement or some other workaround. As is, `bundle install` will not succeed.